.header {
	justify-content: space-between;
	align-self: center;
	position: fixed;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	width: calc(100% - 100px);
}

.leftPart {
	gap: 55px;
}

.logoBlock {
}

.langBlock {
}

.lang {
}

.langSeparator {
}

.centerPart {
}

.navigation {
	gap: 50px;
}

.li {
	font-size: 21px;
	color: #101118;
}

.rightPart {
	gap: 33px;
}
