.screen {
	.leftPart {
		flex-direction: column;
		width: calc(50% - var(--screenPadding));
		padding: 0px var(--screenPadding) 0px 0px;
		justify-content: center;
		align-items: flex-start;
		gap: var(--screenPadding);

		.textBlock {
			font-size: var(--mainTextSize);
			max-width: 75%;
			flex-direction: column;
		}

		.imageBlock {
			width: 100%;
			height: 23vw;
			object-fit: contain;
		}
	}

	.rightPart {
		flex-direction: column;
		width: calc(50% - var(--screenPadding));
		padding: 0px 0px 0px var(--screenPadding);
		gap: 70px;

		.textBlock {
			flex-direction: column;
			gap: 50px;

			.text {
				flex-direction: column;
				font-size: var(--additionalTextSize);
				gap: 10px;
			}

			.button,
			a.button {
				display: flex;
				align-items: center;
				gap: 5px;
				cursor: pointer;
				color: var(--mainColor);
				text-decoration: none;

				.icon {
					width: var(--mainTextSize);
					height: var(--mainTextSize);
					background-image: url("/images/arrow_right.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					transform: rotate(-45deg);
				}

				.text {
					font-family: "Panama Regular";
					font-size: var(--mainTextSize);
					text-transform: uppercase;
					transform: translate(0px, 6%);
				}
			}
		}

		.priceBlock {
			flex-direction: column;
			gap: 50px;

			.priceItems {
				flex-direction: column;

				.priceItem {
					justify-content: space-between;
					padding: 25px 0px;
					border-bottom: 1px solid rgba(79, 80, 95, 0.16);
					font-size: var(--additionalTextSize);
					font-family: "Inter";

					.meters {
					}

					.price {
					}
				}
			}
		}

		.callbackButtonBlock {
			flex-direction: column;
			gap: 10px;

			.button {
				gap: 5px;
				cursor: pointer;
				align-items: center;

				.icon {
					width: var(--mainTextSize);
					height: var(--mainTextSize);
					background-image: url("/images/arrow_right.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}

				.text {
					font-family: "Panama Regular";
					font-size: var(--mainTextSize);
					text-transform: uppercase;
					transform: translate(0px, 6%);
				}
			}
			.description {
				font-family: "Inter";
				font-size: var(--miniTextSize);
				opacity: 0.5;
			}
		}
	}
}

@media (max-width: 980px) {
	.screen {
		min-height: unset;
		height: fit-content;

		.screenContent {
			flex-direction: column;
			height: fit-content;
			min-height: unset;
			gap: 30px;
		}

		.leftPart {
			width: 100%;
			padding: 0px;

			.imageBlock {
				order: 1;
				height: 60vw;
			}

			.textBlock {
				width: 100%;
				max-width: 100%;
				order: 2;
			}
		}

		.rightPart {
			width: 100%;
			padding: 0px;

			.textBlock {
				gap: 15px;
			}
		}
	}
}
