.historyScreen {
	--historyItemGap: 20px;
	--historyItemActiveWidth: calc(100% / 4);
	--historyItemsGap: 15px;
	max-height: unset;
	min-height: unset;
	height: 100%;

	.screenContent {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-height: unset;
		min-height: unset;
		height: fit-content;
	}
	.titleBackground {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, -20%);
	}
	.historyContainer {
		flex-direction: column;
		justify-content: center;
		gap: 40px;
		width: 100%;
		height: fit-content;
	}
	.historyText {
		position: relative;
		top: 0%;
		display: block;
		align-self: flex-start;
		max-width: calc(50% - var(--screenPadding));
		margin: 0px 0px 100px 0px;
	}
	.historyItemsBlock {
		border-left: 1px solid #e0dedc;
		border-right: 1px solid #e0dedc;
		flex-direction: column;
		width: calc(100% - var(--screenPadding) * 2);
		gap: var(--historyItemGap);
		padding: 0px var(--screenPadding);
	}

	.historyItems {
		gap: var(--historyItemsGap);
		width: 100%;
		height: fit-content;
	}
	.historyItem {
		width: calc((100% - var(--historyItemActiveWidth)) / 11 - var(--historyItemsGap));
		min-width: calc((100% - var(--historyItemActiveWidth)) / 11 - var(--historyItemsGap));
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		gap: var(--historyItemGap);
		transition: 0.25s;
		&.active {
			width: var(--historyItemActiveWidth);
			min-width: var(--historyItemActiveWidth);
			.background {
				opacity: 1;
			}
			.text {
				opacity: 1;
				pointer-events: auto;
			}
			.cardBlock {
				width: 100%;
				max-width: 160px;
				.card {
					width: 100%;
					img {
						opacity: 1;
						pointer-events: auto;
					}
				}
			}
			.yearBlock {
				.year {
					color: var(--mainTextColor);
				}
			}
		}

		.background {
			position: absolute;
			width: 100%;
			height: calc(100% - var(--additionalTextSize) - var(--historyItemGap) * 0.5);
			left: 0;
			top: 0;
			opacity: 0;
			transition: 0.25s;
		}
		.line {
			width: 1px;
			height: 40px;
			background-color: black;
			transition: 0.25s;
		}
		.cardBlock {
			width: 100%;
			max-width: 60px;
			flex-direction: column;
			align-items: center;
			gap: calc(var(--historyItemGap) * 0.5);

			.card {
				height: 160px;
				width: 100%;
				object-fit: cover;
				transition: 0.25s;

				img {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					opacity: 0;
					pointer-events: none;
					transition: 0.25s;
				}
			}

			.image {
			}
		}
		.text {
			justify-content: center;
			text-align: center;
			padding: 0px calc(var(--screenPadding) * 0.25);
			width: calc(var(--contentWidth) / 4 - var(--screenPadding) * 0.5 - 15px);
			opacity: 0;
			pointer-events: none;
			transition: 0.125s;
			p {
				text-align: center;
			}
		}
		.yearBlock {
			flex-direction: column;
			align-items: center;
			gap: 10px;
			.line {
			}

			.year {
				font-size: var(--additionalTextSize);
				color: #4f505f29;
			}
		}
	}
	.historyNumberBlock {
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translate(-50%, calc(var(--screenPadding) * 2));
		flex-direction: column;
		align-self: center;
		width: fit-content;
		.text {
			text-align: center;
			justify-content: center;
		}
		.number {
			position: absolute;
			top: 100%;
			transform: translate(0px, -100%);
			justify-content: center;
			text-align: center;
			font-family: "Panama Regular";
			font-size: 50px;
			text-transform: uppercase;
			opacity: 0;
			pointer-events: none;
			transition: 0.25s;
			width: 100%;
			&:last-child {
				position: relative;
				top: 0;
				transform: translate(0, 0);
			}

			&.active {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
}

.spacesScreen {
	height: fit-content;
	min-height: unset;
	max-height: unset;
	top: unset;
	justify-content: flex-start;
	align-items: flex-start;

	.screenContent {
		min-height: calc(100% - var(--screenPadding) * 4 * 2);
		height: fit-content;
		justify-content: center;
	}
	.circleBlock {
		flex-direction: column;
		align-items: center;
		gap: 45px;
		width: 100%;
	}

	.image {
		justify-content: center;
		align-items: center;
		width: 1000px;
		height: 1000px;

		.backgroundCircle {
			position: absolute;
			width: 135%;
			height: 135%;
			background-image: url("/images/spaces_background_circle.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			justify-content: center;
		}

		.title {
			position: absolute;
			justify-content: center;
			text-align: center;
			font-family: "Panama Regular";
			text-transform: uppercase;
			line-height: 1;
			font-size: var(--titleBackgroundSize);
			color: var(--additionalColor);
		}
	}

	.textBlock {
		align-self: flex-end;
		flex-direction: column;
		font-size: var(--additionalTextSize);
		gap: 25px;
		max-width: 520px;
	}
	.person {
		flex-direction: column;
		gap: 2px;

		.name {
		}

		.position {
			left: 20px;
			width: calc(100% - 20px);
			display: list-item;
			opacity: 0.5;
		}
	}
}

.partnersScreen {
	height: fit-content;
	min-height: unset;
	max-height: unset;
	top: unset;
	justify-content: flex-start;
	align-items: flex-start;

	.screenContent {
		flex-direction: column;
		min-height: calc(100% - var(--screenPadding) * 4 * 2);
		height: fit-content;
	}
	.partnersBlock {
		width: 100%;
		height: 700px;

		.partnerItem {
			position: absolute;
			width: 12vw;
			height: 6vw;

			&:nth-child(1) {
				left: 0%;
				top: 38%;
			}
			&:nth-child(2) {
				left: 5%;
				top: 21%;
			}
			&:nth-child(3) {
				left: 20%;
				top: 4%;
			}
			&:nth-child(4) {
				left: 40%;
				top: 0%;
			}
			&:nth-child(5) {
				left: 58%;
				top: 7%;
			}
			&:nth-child(6) {
				left: 76%;
				top: 22%;
			}
			&:nth-child(7) {
				left: 82%;
				top: 39%;
			}
			&:nth-child(8) {
				left: 78%;
				top: 56%;
			}
			&:nth-child(9) {
				left: 61%;
				top: 73%;
			}
			&:nth-child(10) {
				left: 43%;
				top: 83%;
			}
			&:nth-child(11) {
				left: 25%;
				top: 76%;
			}
			&:nth-child(12) {
				left: 7%;
				top: 58%;
			}
			&:nth-child(13) {
				left: 20%;
				top: 39%;
			}
			&:nth-child(14) {
				left: 27%;
				top: 22%;
			}
			&:nth-child(15) {
				left: 43%;
				top: 20%;
			}
			&:nth-child(16) {
				left: 59%;
				top: 28%;
			}
			&:nth-child(17) {
				left: 60%;
				top: 44%;
			}
			&:nth-child(18) {
				left: 45%;
				top: 60%;
			}
			&:nth-child(19) {
				left: 28%;
				top: 56%;
			}
			&:nth-child(20) {
				left: 40%;
				top: 39%;
			}
		}
	}

	.textBlock {
		max-width: 520px;
		font-size: var(--mainTextSize);
		img {
			max-height: var(--mainTextSize);
		}
	}

	.text {
	}
}

.teamScreen {
	--listBlockGap: 6px;
	--littlePhotoHeight: 115px;
	--littlePhotoWidth: 75px;
	--listBlockPadding: 25px;
	--teamScreenLeftBlockWidth: calc(50% + var(--littlePhotoWidth) * 0.5);
	--teamScreenGap: 50px;

	&.withTopBanner {
		padding: var(--topBannerHeight) 0px 0px 0px;
	}
	.screenContent {
		justify-content: space-between;
		gap: 0;
	}
	.leftBlock {
		width: var(--teamScreenLeftBlockWidth);
		height: 100%;
		// background-color: green;
		gap: var(--teamScreenGap);
	}
	.photoBlock {
		width: calc(50% - var(--littlePhotoWidth) * 0.5 - var(--teamScreenGap));

		.photo {
			justify-content: center;
			align-items: center;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 0%;
			overflow: hidden;
			opacity: 0;
			pointer-events: none;
			transform-origin: 0 0;
			transition: 0.25s 0s;

			&.active {
				height: 100%;
				opacity: 1;
				pointer-events: auto;
				transition: 0.25s 0.25s;
			}

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.listBlock {
		position: absolute;
		left: 50%;
		flex-direction: column;
		align-items: center;
		width: calc(var(--littlePhotoWidth) + 0px);
		min-width: calc(var(--littlePhotoWidth) + 0px);
		padding: 5px var(--listBlockPadding) 5px var(--listBlockPadding);
		height: -moz-fit-content;
		height: fit-content;
		gap: var(--listBlockGap);
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		align-self: center;
		transform: translate(calc(-50% + 3px), 0);
		z-index: 1;

		.littlePhoto {
			min-height: var(--littlePhotoHeight);
			height: var(--littlePhotoHeight);
			width: var(--littlePhotoWidth);
			min-width: var(--littlePhotoWidth);
			opacity: 0.5;
			cursor: pointer;
			transition: 0.25s;

			&:hover {
				opacity: 0.75;
			}

			&.active {
				opacity: 1;
			}
		}

		.frame {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 5px);
			width: var(--littlePhotoWidth);
			height: var(--littlePhotoHeight);
			pointer-events: none;
			transition: 0.25s;

			// .topLeft {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	width: 20px;
			// 	height: 20px;
			// 	border-top: 1px solid var(--mainTextColor);
			// 	border-left: 1px solid var(--mainTextColor);
			// }

			.topRight {
				position: absolute;
				top: -4px;
				right: -4px;
				width: 20px;
				height: 20px;
				border-top: 2px solid var(--mainTextColor);
				border-right: 2px solid var(--mainTextColor);
			}

			// .bottomRight {
			// 	position: absolute;
			// 	bottom: 0;
			// 	right: 0;
			// 	width: 20px;
			// 	height: 20px;
			// 	border-bottom: 1px solid var(--mainTextColor);
			// 	border-right: 1px solid var(--mainTextColor);
			// }

			.bottomLeft {
				position: absolute;
				bottom: -4px;
				left: -4px;
				width: 20px;
				height: 20px;
				border-bottom: 2px solid var(--mainTextColor);
				border-left: 2px solid var(--mainTextColor);
			}
		}
	}

	.infoBlock {
		justify-content: flex-end;
		width: calc(50% - var(--littlePhotoWidth) * 0.5);

		.infoPerson {
			flex-direction: column;
			align-items: flex-start;
			position: absolute;
			opacity: 0;
			pointer-events: none;
			max-width: 400px;
			width: 100%;
			height: 100%;

			&.active {
				opacity: 1;
				pointer-events: auto;
			}
		}

		.quoteBlock {
			position: absolute;
			top: 50%;
			transform: translate(0, -100%);
			font-size: var(--mainTextSize);
			padding: 0px 0px var(--screenPadding) 0px;
			max-height: calc(50% - var(--screenPadding));
			overflow-y: auto;
		}
		.nameBlock {
			position: absolute;
			top: calc(50% + var(--screenPadding));
			flex-direction: column;
		}
		.name {
			text-transform: uppercase;
			font-size: var(--mainTextSize);
			font-family: "Panama Regular";
			margin: 0px 0px 5px 0px;
		}
		.contact,
		a.contact,
		.position {
			display: list-item;
			position: relative;
			left: 20px;
			font-size: var(--additionalTextSize);
			opacity: 0.5;
			color: var(--mainTextColor);
			text-decoration: none;
		}

		a.contact {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media (max-width: 1680px) {
	.historyScreen {
		.screenContent {
			height: calc(100% - var(--screenPadding) * 3 * 2);
		}
	}
	.spacesScreen {
		.image {
			width: 60vw;
			height: 60vw;
		}
	}
	.partnersScreen {
		.partnersBlock {
			height: 35vw;

			.partnerItem {
				width: 15vw;
				height: 7.5vw;
			}
		}
	}
}

@media (max-width: 1440px) {
	.historyScreen {
		--historyItemsGap: 1vw;

		.historyItem {
			&.active {
				.cardBlock {
					.card {
						width: 10vw;
					}
				}
			}
			.cardBlock {
				max-width: 4vw;
				.card {
					height: 10vw;
				}
			}

			.text {
				font-size: 1.1vw;
			}

			.line {
				height: 20px;
			}
		}
	}
	.teamScreen {
		.infoBlock {
			.infoPerson {
				max-width: 27vw;
			}
		}
	}
}

@media (max-width: 1280px) {
	.teamScreen {
		--teamScreenGap: 2vw;
	}
}

@media (max-width: 980px) {
	.teamScreen {
		min-height: unset;
		height: fit-content;
		.screenContent {
			flex-direction: row;
			justify-content: center;
			gap: 30px;
			flex-wrap: wrap;
			height: fit-content;
		}
		.listBlock {
			position: relative;
			left: unset;
			flex-direction: row;
			justify-content: flex-start;
			width: fit-content;
			max-width: calc(100% - var(--listBlockPadding) * 2);
			overflow-x: auto;
			transform: translate(0);
			padding: var(--listBlockPadding);
			min-width: unset;
			overflow-y: auto;
			overflow-x: auto;
			order: 3;

			.frame {
				transform: translate(var(--listBlockPadding), 0);
			}
		}

		.photoBlock {
			justify-content: center;
			align-self: center;
			// margin: 10px 0px 10px 0px;
			width: calc(50% - 15px);
			height: calc(45vw * 1.5);
			order: 2;

			.photo {
				left: 0;
				bottom: 0;
			}
		}

		.infoBlock {
			width: calc(50% - 15px);
			order: 2;
			.infoPerson {
				max-width: unset;
				&.active {
					position: relative;
				}
			}
		}
	}

	.historyScreen {
		.screenContent {
			height: fit-content;
		}
		.historyItem {
			max-width: 4.7vw;
			width: 100%;
			&.active {
				.cardBlock {
					.card {
						width: 20vw;
					}
				}
			}
			.text {
				width: 22vw;
				font-size: var(--miniTextSize);
			}

			.cardBlock {
				width: 100%;
				.card {
					width: 100%;
					height: 20vw;
				}
			}
			.background {
				height: calc(100% - 1.6vw - var(--historyItemGap) * 0.5);
			}
			.yearBlock {
				.year {
					font-size: 1.6vw;
				}
			}
		}
	}

	.spacesScreen {
		.textBlock {
			align-self: center;
			width: 60vw;
		}
	}

	.partnersScreen {
		.partnersBlock {
			align-self: center;
			justify-content: center;
			height: fit-content;
			flex-wrap: wrap;
			gap: 10px;

			.partnerItem {
				position: relative;
				width: 20vw;
				height: 10vw;
				top: auto !important;
				left: auto !important;
			}
		}

		.textBlock {
			justify-content: center;
			align-self: center;
			text-align: center;
			margin: 20px 0px 0px 0px;
		}
	}
}

@media (max-width: 768px) {
	.historyScreen {
		.titleBackground {
			display: none;
		}
		.historyText {
			align-self: flex-start;
			max-width: 100%;
		}
		.historyItemsBlock {
			padding: 0;
			width: 100%;
			border-left: none;
			border-right: none;
		}
		.historyItems {
			height: fit-content;
			max-width: 100%;
			overflow-x: auto;
			overflow-y: hidden;
		}

		.historyItem {
			justify-content: flex-start;
			width: 320px;
			min-width: 320px;
			height: fit-content;

			&.active {
				width: 320px;
				min-width: 320px;
				height: fit-content;

				.text {
					opacity: 1;
				}

				.cardBlock {
					max-width: unset;
					.card {
						width: 220px;
						height: 220px;

						img {
							opacity: 1;
						}
					}
				}

				.yearBlock {
					.year {
						color: var(--mainTextColor);
					}
				}

				.background {
					opacity: 1;
				}
			}

			.line {
				height: 20px;
			}

			.background {
				height: calc(100% - var(--additionalTextSize) - 10px);
				opacity: 1;
			}

			.text {
				opacity: 1;
				padding: 0px 10px;
				width: calc(100% - 20px);
				font-size: var(--additionalTextSize);
			}

			.cardBlock {
				max-width: unset;
				.card {
					width: 220px;
					height: 220px;

					img {
						opacity: 1;
					}
				}
			}

			.yearBlock {
				.year {
					line-height: 1;
					font-size: var(--additionalTextSize);
					color: var(--mainTextColor);
				}
			}
		}

		.historyNumberBlock {
			position: relative;
			left: auto;
			top: auto;
			transform: translate(0, 0);

			.number {
				display: none;
				opacity: 0;
				&.active {
					display: none;
					opacity: 0;
				}
				&:last-child {
					position: relative;
					display: flex;
					opacity: 1;
					transform: translate(0, 0);
					&.active {
						position: relative;
						display: flex;
						opacity: 1;
						transform: translate(0, 0);
					}
				}
			}
		}
	}

	.spacesScreen {
		.textBlock {
			width: 80vw;
		}
	}
}

@media (max-width: 640px) {
	.teamScreen {
		.listBlock {
			order: 2;
		}
		.infoBlock {
			width: calc(100% - 30px);
			order: 3;
			.infoPerson {
				justify-content: center;
				max-width: unset;
				&.active {
					position: relative;
				}
			}

			.quoteBlock {
				position: relative;
				top: unset;
				transform: translate(0, 0);
				max-height: unset;
				order: 2;
				padding: 0;
			}

			.nameBlock {
				position: relative;
				top: unset;
				order: 1;
				padding: 0px 0px 10px 0px;
			}
		}
		.photoBlock {
			order: 1;
			align-self: flex-start;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}

	.historyScreen {
		--historyItemsGap: 10px;
		.historyItem {
			width: 265px;
			min-width: 265px;

			&.active {
				width: 265px;
				min-width: 265px;
			}
		}
	}

	.spacesScreen {
		.image {
			width: 85vw;
			height: 85vw;

			.backgroundCircle {
				width: 90vw;
				height: 90vw;
			}

			.title {
				font-size: 13vw;
			}
		}
		.textBlock {
			width: 100%;
		}
	}

	.partnersScreen {
		.partnersBlock {
			.partnerItem {
				width: 30vw;
				height: 15vw;
			}
		}
	}
}

@media (max-width: 480px) {
	.teamScreen {
		.screenContent {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}
		.infoBlock {
			width: 100%;
		}

		.photoBlock {
			align-self: center;
			width: 80vw;
			height: calc(80vw * 1.5);
		}
	}
	.partnersScreen {
		.partnersBlock {
			.partnerItem {
				width: 40vw;
				height: 20vw;
			}
		}

		.textBlock {
			margin: 50px 0px 0px 0px;
		}
	}
}

@media (max-height: 450px) {
}
