.backgroundScreen {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.backgroundScreen .screenContent {
  justify-content: center;
  align-items: center;
}
.backgroundScreen .image {
  width: 774px;
  height: 774px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backgroundScreen .image svg {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 85vh;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.backgroundScreen .text {
  font-family: "Panama Regular";
  font-size: var(--titleBackgroundSize);
  color: var(--mainTextColor);
  text-transform: uppercase;
  opacity: 0.16;
  transform: translate(0%, 5%);
  transition: 0.5s;
}
.backgroundScreen .text.inactive {
  opacity: 0;
}
.backgroundScreen svg {
  opacity: 1;
  transition: 0.5s;
}
.backgroundScreen svg.inactive {
  opacity: 0;
}
.backgroundScreen svg .svgNumber rect {
  transition: fill 0.5s 0.5s ease;
}
.backgroundScreen svg .line {
  transition: 0.5s;
}

.approachScreen:nth-child(even) .textPart {
  order: 1;
}
.approachScreen:nth-child(even) .imagePart {
  order: 2;
}
.approachScreen:nth-child(odd) .textPart {
  order: 2;
  padding: 0px 0px 0px calc(var(--screenPadding) * 2);
}
.approachScreen:nth-child(odd) .textPart .titleBlock,
.approachScreen:nth-child(odd) .textPart .textBlock {
  left: calc(var(--screenPadding) * 2);
}
.approachScreen:nth-child(odd) .imagePart {
  order: 1;
  padding: 0px calc(var(--screenPadding) * 2) 0px 0px;
}
.approachScreen .textPart {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(50% - var(--screenPadding) * 2);
  padding: 0px calc(var(--screenPadding) * 2) 0px 0px;
  gap: 30px;
}
.approachScreen .titleBlock {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0%, calc(-100% - 20px));
  width: calc(100% - var(--screenPadding) * 2);
  font-family: "Panama Regular";
  font-size: var(--mainTextSize);
  color: var(--mainTextColor);
  text-transform: uppercase;
  transition: 0.5s;
}
.approachScreen .number {
  min-width: 60px;
  width: 60px;
}
.approachScreen .textBlock {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0%, calc(0% + 25px));
  width: calc(100% - var(--screenPadding) * 2);
  transition: 0.5s;
}
.approachScreen .icon {
  min-width: 60px;
  width: 60px;
}
.approachScreen .icon img {
  width: 27px;
  height: 27px;
}
.approachScreen .imagePart {
  justify-content: center;
  align-items: center;
  width: calc(50% - var(--screenPadding) * 2);
  padding: 0px 0px 0px calc(var(--screenPadding) * 2);
}
.approachScreen .image {
  width: 470px;
  height: 470px;
}
.approachScreen .image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.line {
  transition: stroke-dasharray 0.5s ease;
}

@media (max-width: 980px) {
  .backgroundScreen .image {
    max-width: 95vw;
    max-height: 90vh;
  }
  .backgroundScreen .svg {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
  .backgroundScreen .svg .svgNumber rect {
    transform: fill 0.15s ease;
  }
  .backgroundScreen .svg .line {
    transition: 0.01s linear;
  }
  .approachScreen:nth-child(odd) .textPart {
    order: 1;
    padding: 0px 0px 0px calc(var(--screenPadding) * 4);
    width: calc(100% - var(--screenPadding) * 4);
  }
  .approachScreen:nth-child(odd) .textPart .titleBlock {
    left: 0;
  }
  .approachScreen:nth-child(odd) .textPart .textBlock {
    left: 0;
  }
  .approachScreen:nth-child(odd) .imagePart {
    order: 2;
  }
  .approachScreen .screenContent {
    flex-direction: column;
    justify-content: center;
  }
  .approachScreen .textPart {
    padding: 0px 0px 0px calc(var(--screenPadding) * 4);
    width: calc(100% - var(--screenPadding) * 4);
  }
  .approachScreen .imagePart {
    width: 100%;
    padding: 0px;
  }
  .approachScreen .titleBlock {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    width: 100%;
  }
  .approachScreen .textBlock {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    width: 100%;
  }
}
@media (max-width: 480px) {
  .approachScreen:nth-child(odd) .textPart {
    order: 1;
    padding: 0px 0px 0px calc(var(--screenPadding) * 2);
    width: calc(100% - var(--screenPadding) * 2);
  }
  .approachScreen .textPart {
    padding: 0px 0px 0px calc(var(--screenPadding) * 2);
    width: calc(100% - var(--screenPadding) * 2);
  }
  .approachScreen .icon,
  .approachScreen .number {
    width: 50px;
    min-width: 50px;
  }
}/*# sourceMappingURL=styles.module.css.map */