.screen {
	max-height: unset;
	min-height: unset;
	height: fit-content;
}

.screenContent {
	height: fit-content;
	max-height: unset;
	min-height: unset;
}

.categoriesFilter {
	position: fixed;
	top: 50%;
	transform: translate(0px, calc(-100% - var(--screenPadding)));
	left: calc(var(--screenPadding) * 2);
	max-width: calc((100% - var(--contentWidth)) / 2 - var(--screenPadding) * 2);
	width: fit-content;
	height: fit-content;
	font-family: Inter;
	color: var(--backgroundColor);
	flex-direction: column;
	overflow-y: auto;
	overflow: hidden;

	.filter {
		flex-direction: column;
		gap: 10px;

		.filterNameBlock {
			gap: 10px;
			.icon {
				min-width: var(--additionalTextSize);
				width: var(--additionalTextSize);
				height: var(--additionalTextSize);
			}
		}

		.filterValues {
			flex-direction: column;
			gap: 5px;

			.value {
				font-weight: 200;
				width: fit-content;
				max-width: 100%;
				overflow: hidden;
				height: fit-content;
				white-space: nowrap;
				padding: 3px 10px;
				border: 1px solid var(--backgroundColor);
				cursor: pointer;
				opacity: 0.5;

				&:hover {
					opacity: 0.75;
					transition: 0.25s;
				}

				&.active {
					opacity: 1;
				}
			}
		}
	}

	.resetFilterButton {
		cursor: pointer;
		transition: 0s;

		&:hover {
			text-decoration: underline;
		}

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

.filterBlock {
	flex-direction: column;
	gap: 30px;
}

.mobileFilter {
	display: none;
	width: calc(100% - var(--screenPadding) * 2);
	padding: var(--screenPadding);
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);

	.filterButton {
		gap: 7px;
		height: var(--mainTextSize);
		font-family: Panama Regular;
		font-size: var(--mainTextSize);
		text-transform: uppercase;
		color: white;
		cursor: pointer;

		.icon {
			width: var(--mainTextSize);
			height: var(--mainTextSize);
			background-image: url("/images/filterIcon.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

.mobileButtonsBlock {
	display: none;
	width: 100%;
	height: fit-content;
	transition: 0s;

	.button {
		width: 50%;
		justify-content: center;
		align-items: center;
		height: 88px;
		font-size: 24px;
		text-transform: uppercase;
		border: 1px solid rgba(255, 255, 255, 0.15);

		&:nth-child(1) {
			border-right: 1px solid transparent;
		}

		&.resetButton {
			align-items: center;
			gap: 7px;
			color: white;
			background-color: #353c94;

			.icon {
				width: 24px;
				height: 24px;
				background-image: url("/images/closeIcon.svg");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		&.acceptButton {
			color: #353c94;
			background-color: var(--backgroundColor);
		}
	}
}

.articlesList {
	width: 100%;
	flex-wrap: wrap;
	align-items: flex-end;
	gap: 120px;

	.articleCard {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(50% - 60px);
		height: fit-content;
		color: var(--backgroundColor);
		--cardWidth: 430px;

		&:nth-child(even) {
			transform: translate(0px, calc(var(--cardWidth) / 1.5));
		}

		// &:last-child {
		// 	margin: 0px 0px 100px 0px;

		// 	&:nth-child(even) {
		// 		margin: 0px 0px calc(100px + var(--cardWidth) / 1.5) 0px;
		// 	}
		// }

		.articleContent,
		a.articleContent {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: fit-content;
			color: var(--backgroundColor);
			text-decoration: none;

			&:hover {
				.articleImage {
					img {
						width: 105%;
						height: 105%;
					}
				}
				.articleButton {
					max-width: var(--cardWidth);
				}
			}
		}

		.articleDate {
			text-align: center;
			font-size: var(--miniTextSize);
		}

		.line {
			width: 2px;
			height: 21px;
			background-color: var(--backgroundColor);
			opacity: 0.16;
			margin: 15px 0px;
			pointer-events: none;
		}

		.articleTextContent {
			flex-direction: column;
			align-items: center;
			align-self: center;
			gap: 5px;
			max-width: var(--cardWidth);
		}

		.articleTitle {
			justify-content: center;
			font-family: "Panama Regular";
			font-size: 48px;
			line-height: 1.1;
			text-transform: uppercase;
			text-align: center;
			max-height: 210px;
			overflow: hidden;
		}

		.articleDescription {
			flex-direction: column;
			justify-content: flex-start;
			gap: 10px;
			width: fit-content;
			text-align: center;
			font-size: var(--additionalTextSize);
			padding: 0px 15px 0px 15px;
			max-height: 202px;
			overflow: hidden;
			overflow-y: auto;
		}

		.articleImage {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: var(--cardWidth);
			height: var(--cardWidth);
			overflow: hidden;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				transition: 0.5s;
			}
		}

		.articleButton {
			justify-content: flex-end;
			align-items: center;
			margin: 8px 0px 0px 0px;
			gap: 5px;
			max-width: 21px;
			overflow: hidden;
			transition: 0.5s;

			.icon {
				min-width: 21px;
				width: 21px;
				height: 21px;
				background-image: url("/images/arrow_right_white.svg");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}

			.text {
				font-size: var(--miniTextSize);
			}
		}
	}
}

.screenTitle {
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Panama Regular";
	font-size: 48px;
	text-transform: uppercase;
	color: var(--backgroundColor);
	text-align: center;
}

@media (max-width: 1680px) {
	.categoriesFilter {
		left: var(--screenPadding);
		max-width: calc((100% - var(--contentWidth)) / 2 - var(--screenPadding));
	}

	.articlesList {
		.articleCard {
			--cardWidth: 27vw;
		}
	}
}

@media (max-width: 1280px) {
	.screenContent {
		width: calc(var(--contentWidth) * 0.8);
	}

	.categoriesFilter {
		left: var(--screenPadding);
		max-width: calc((100% - (var(--contentWidth)) / 2) * 0.8 - var(--screenPadding));
	}

	.articlesList {
		gap: 5vw 0vw;

		.articleCard {
			width: calc(50%);
			--cardWidth: 25vw;

			.articleTitle {
				font-size: 32px;
				max-height: 175px;
			}
		}
	}
}

@media (max-width: 980px) {
	.screenScroll {
		&.articlesScroll {
			top: 184px;

			.screen {
				padding: 0px;
			}
		}
	}
	.screenContent {
		flex-direction: column;
		width: 100%;
	}

	.categoriesFilter {
		left: 0;
		top: 0;
		transform: translate(0px, 0px);
		width: 100%;
		max-width: unset;
		padding: 75px 0px 0px 0px;
		height: calc(100vh - 75px);
		max-height: calc(190px - 75px);
		background-color: #353c94;
		z-index: 1;
		transition: 0.5s;

		&.active {
			max-height: calc(100vh - 75px);
		}
	}
	.screenTitle {
		display: flex;
	}
	.mobileFilter {
		display: flex;
	}
	.filterBlock {
		height: 100%;
		width: calc(100% - var(--screenPadding) * 2);
		padding: 30px var(--screenPadding);
		transition: 0.25s;
	}

	.mobileButtonsBlock {
		height: 90px;
		display: flex;
	}

	.resetFilterButton {
		display: none;
	}

	.articlesList {
		padding: 0px 0px 100px 0px;
		gap: 100px 0px;
		.articleCard {
			--cardWidth: 40vw;

			.articleButton {
				.icon {
					height: 17px;
					width: 17px;
					min-width: 17px;
				}
				max-width: 100%;
			}
		}
	}
}

@media (max-width: 768px) {
	.categoriesFilter {
		max-height: calc(186px - 75px);
	}
}

@media (max-width: 640px) {
	.articlesList {
		gap: 120px;

		.articleCard {
			width: 100%;
			--cardWidth: 80vw;
			&:nth-child(even) {
				transform: translate(0px, 0px);
			}
			.line {
				display: none;
			}

			.articleDate {
				margin: 0px 0px 10px 0px;
			}

			.articleTextContent {
				margin: 0px 0px 10px 0px;
			}
		}
	}
}
