.applicationScreen {
  opacity: 1;
  top: 100%;
  justify-content: center;
  align-items: center;
  transition: 1s;
  --formPadding: 30px;
}
.applicationScreen * {
  transition: 1s;
}
.applicationScreen.active {
  opacity: 1;
  top: 0dvh;
  transition: 1s 0.5s;
}
.applicationScreen.active .titleBackgroundBlock {
  opacity: 1;
  transform: translate(0, -75dvh);
  transition: 1s 0s;
}
.applicationScreen.active .titleBackgroundBlock.transparent {
  opacity: 0;
  transition: all 1s 0s, opacity 1s 1s;
}
.applicationScreen.active .titleBackgroundBlock .titleBackground {
  transform: translate(0, calc(75dvh - 40%));
  transition: 1s 0.5s;
  opacity: 0.15;
}
.applicationScreen.active .closeIcon {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.15s 0.25s;
}
.applicationScreen.active .closeIcon .line {
  transform: rotate(225deg);
  transition: 0.3s 0.35s;
}
.applicationScreen.active .closeIcon .line:nth-child(2) {
  transform: rotate(135deg);
}
.applicationScreen.active .form {
  opacity: 1;
  transition: 1s 0.75s;
}
.applicationScreen.active .image {
  opacity: 1;
  transition: 1s 0.75s;
}
.applicationScreen.orderPopup .form::before {
  display: none;
}
.applicationScreen.orderPopup .form::after {
  display: none;
}
.applicationScreen .titleBackgroundBlock {
  position: absolute;
  top: 0;
  justify-content: center;
  width: 100%;
  pointer-events: none;
  transform: translate(0, 0dvh);
  opacity: 1;
  z-index: -1;
}
.applicationScreen .titleBackgroundBlock .titleBackground {
  justify-content: center;
  text-align: center;
  opacity: 1;
}
.applicationScreen .form {
  opacity: 0;
  font-size: var(--additionalTextSize);
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}
.applicationScreen .form::before {
  content: "";
  display: flex;
  position: absolute;
  left: -2px;
  top: 0;
  width: 4px;
  height: 10%;
  background-color: var(--backgroundColor);
}
.applicationScreen .form::after {
  content: "";
  display: flex;
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 4px;
  height: 10%;
  background-color: var(--backgroundColor);
}
.applicationScreen .form .topPart {
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
}
.applicationScreen .form .bottomPart {
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.applicationScreen .form .bottomPart .formInputs {
  flex-direction: column;
}
.applicationScreen .form input,
.applicationScreen .form textarea {
  font-family: Inter;
  font-size: var(--additionalTextSize);
  font-weight: 300;
  background-color: transparent;
  padding: var(--formPadding) 50% var(--formPadding) var(--formPadding);
  border: 1px solid transparent;
  border-bottom: 1px solid #c7c7c7;
  color: var(--mainTextColor);
  opacity: 1;
  min-width: calc(100% - var(--formPadding) - 50%);
  max-width: calc(100% - var(--formPadding) - 50%);
  max-height: 150px;
}
.applicationScreen .form input::-moz-placeholder, .applicationScreen .form textarea::-moz-placeholder {
  opacity: 1;
  color: var(--mainTextColor);
}
.applicationScreen .form input::placeholder,
.applicationScreen .form textarea::placeholder {
  opacity: 1;
  color: var(--mainTextColor);
}
.applicationScreen .form input:hover,
.applicationScreen .form textarea:hover {
  border-bottom: 1px solid var(--mainTextColor);
}
.applicationScreen .form input:focus-visible,
.applicationScreen .form textarea:focus-visible {
  outline: none;
  border: 1px solid var(--mainTextColor);
}
.applicationScreen .form .dropdown {
  font-family: Inter;
  font-weight: 300;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid #c7c7c7;
  cursor: pointer;
}
.applicationScreen .form .dropdown:hover {
  border-bottom: 1px solid var(--mainTextColor);
}
.applicationScreen .form .dropdown.active {
  outline: none;
  border: 1px solid var(--mainTextColor);
}
.applicationScreen .form .dropdown.active .dropdownList {
  max-height: 500px;
  pointer-events: auto;
  transition: 0.3s;
}
.applicationScreen .form .dropdown .dropdownSelected {
  padding: var(--formPadding);
  width: calc(100% - var(--formPadding) * 2);
  height: -moz-fit-content;
  height: fit-content;
}
.applicationScreen .form .dropdown .dropdownList {
  flex-direction: column;
  position: absolute;
  left: -1px;
  top: 0%;
  width: calc(100% + 2px);
  height: -moz-fit-content;
  height: fit-content;
  max-height: 0px;
  pointer-events: none;
  overflow: hidden;
  background-color: var(--backgroundColor);
  z-index: 1;
  transition: 0s;
}
.applicationScreen .form .dropdown .dropdownList .dropdownItem {
  padding: var(--formPadding);
  width: calc(100% - var(--formPadding) * 2 - 2px);
  height: 100%;
  border: 1px solid black;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  opacity: 0.75;
}
.applicationScreen .form .dropdown .dropdownList .dropdownItem:hover {
  opacity: 1;
}
.applicationScreen .form .dropdown .dropdownList .dropdownItem.active {
  font-weight: 600;
}
.applicationScreen .form .dropdown .dropdownList .dropdownItem:first-child {
  border-top: none;
}
.applicationScreen .form .dropdown .dropdownList .dropdownItem:last-child {
  border-bottom: 1px solid black;
}
.applicationScreen .form .buttonBlock {
  width: calc(50% - var(--formPadding) * 2);
  padding: var(--formPadding);
  gap: 50px;
}
.applicationScreen .form .buttonBlock .button {
  align-items: center;
  font-family: Panama Regular;
  font-weight: 400;
  font-size: var(--menuFontSize);
  gap: 10px;
  cursor: pointer;
}
.applicationScreen .form .buttonBlock .button .icon {
  width: var(--menuFontSize);
  height: var(--menuFontSize);
  background-image: url("/images/linkArrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.applicationScreen .form .buttonBlock .button .text {
  text-transform: uppercase;
  transform: translate(0px, 7%);
}
.applicationScreen .form .buttonBlock .acceptText {
  font-family: Inter;
  font-size: 0.9vw;
  opacity: 0.5;
  max-width: 370px;
}
.applicationScreen .form .buttonBlock .acceptText .privacyPolicy {
  cursor: pointer;
}
.applicationScreen .form .buttonBlock .acceptText .privacyPolicy:hover {
  text-decoration: underline;
}
.applicationScreen .form .textBlock {
  font-family: Inter;
  position: absolute;
  bottom: 0;
  transform: translate(calc(var(--formPadding)), calc(var(--screenPadding) * 2));
  font-size: var(--mainTextSize);
  background-color: var(--backgroundColor);
  width: calc(50% - var(--formPadding));
  word-break: break-word;
}
.applicationScreen .form .textBlock p {
  margin: 0;
}
.applicationScreen .image {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  z-index: 2;
  opacity: 0;
}

.closeIcon {
  justify-content: center;
  align-items: center;
  position: absolute;
  right: var(--screenPadding);
  top: var(--screenPadding);
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s 0s;
}
.closeIcon .line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--mainTextColor);
  transform: rotate(0deg);
  transition: 0.3s 0s;
}
.closeIcon .line:nth-child(2) {
  transform: rotate(0deg);
}

@media (max-width: 1750px) {
  .applicationScreen {
    --formPadding: 1.2vw;
  }
}
@media (max-width: 980px) {
  .applicationScreen {
    top: auto;
    pointer-events: all;
    opacity: 1;
    transition: 1s;
    height: -moz-fit-content;
    height: fit-content;
    min-height: unset;
    margin: 0px;
  }
  .applicationScreen.active {
    top: auto;
    opacity: 1;
  }
  .applicationScreen.active .titleBackgroundBlock {
    position: relative;
    top: 0;
    transform: translate(0, 0%);
    transition: 1s;
  }
  .applicationScreen.active .titleBackgroundBlock .titleBackground {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s;
  }
  .applicationScreen.active .form {
    opacity: 1;
    transition: 1s;
  }
  .applicationScreen .screenContent {
    flex-direction: column;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .applicationScreen .titleBackgroundBlock {
    position: relative;
    top: 0;
    transform: translate(0, 0%);
    margin: 0px 0px 30px 0px;
  }
  .applicationScreen .titleBackgroundBlock .titleBackground {
    transform: translate(0, 0);
    line-height: 1.2;
  }
  .applicationScreen .form {
    width: 50%;
    opacity: 1;
  }
  .applicationScreen .form::before, .applicationScreen .form::after {
    display: none;
  }
  .applicationScreen .form input,
  .applicationScreen .form textarea {
    padding: var(--formPadding);
    min-width: calc(100% - var(--formPadding) * 2);
    max-width: calc(100% - var(--formPadding) * 2);
  }
  .applicationScreen .form .buttonBlock {
    flex-direction: column;
    gap: 10px;
    width: calc(100% - var(--formPadding) * 2);
  }
  .applicationScreen .form .buttonBlock .acceptText {
    font-size: var(--miniTextSize);
  }
  .applicationScreen .form .topPart {
    order: 2;
  }
  .applicationScreen .form .bottomPart {
    order: 3;
  }
  .applicationScreen .form .textBlock {
    position: relative;
    font-size: var(--additionalTextSize);
    top: auto;
    transform: translate(0, 0);
    width: calc(100% - var(--formPadding) * 2);
    padding: 0 var(--formPadding);
    justify-content: center;
    text-align: center;
    order: 1;
    margin: 0px 0px 30px 0px;
  }
  .applicationScreen .image {
    position: relative;
    width: 50%;
    height: 50vw;
    order: 4;
    left: 0;
    margin: 30px 0px 0px 0px;
    opacity: 1;
  }
  .applicationScreen.orderPopup {
    top: auto;
    pointer-events: all;
    opacity: 1;
    transition: 1s;
    height: 100%;
    min-height: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .applicationScreen.orderPopup.active {
    top: auto;
    opacity: 1;
  }
  .applicationScreen.orderPopup.active .titleBackgroundBlock {
    position: relative;
    top: 0;
    transform: translate(0, 0%);
    transition: 1s;
  }
  .applicationScreen.orderPopup.active .titleBackgroundBlock .titleBackground {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s;
  }
  .applicationScreen.orderPopup.active .form {
    opacity: 1;
    transition: 1s;
  }
  .applicationScreen.orderPopup .screenContent {
    flex-direction: column;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .applicationScreen.orderPopup .titleBackgroundBlock {
    position: relative;
    top: 0;
    transform: translate(0, 0%);
    margin: 0px 0px 30px 0px;
  }
  .applicationScreen.orderPopup .titleBackgroundBlock .titleBackground {
    transform: translate(0, 0);
    line-height: 1.2;
  }
  .applicationScreen.orderPopup .form {
    width: 100%;
    max-width: unset;
    opacity: 1;
  }
  .applicationScreen.orderPopup .form::before, .applicationScreen.orderPopup .form::after {
    display: none;
  }
  .applicationScreen.orderPopup .form input,
  .applicationScreen.orderPopup .form textarea {
    padding: var(--formPadding);
    min-width: calc(100% - var(--formPadding) * 2);
    max-width: calc(100% - var(--formPadding) * 2);
  }
  .applicationScreen.orderPopup .form .buttonBlock {
    flex-direction: column;
    gap: 10px;
    width: calc(100% - var(--formPadding) * 2);
  }
  .applicationScreen.orderPopup .form .buttonBlock .acceptText {
    font-size: var(--miniTextSize);
  }
  .applicationScreen.orderPopup .form .topPart {
    order: 2;
  }
  .applicationScreen.orderPopup .form .bottomPart {
    order: 3;
  }
  .applicationScreen.orderPopup .form .textBlock {
    position: relative;
    font-size: var(--additionalTextSize);
    top: auto;
    transform: translate(0, 0);
    width: calc(100% - var(--formPadding) * 2);
    padding: 0 var(--formPadding);
    justify-content: center;
    text-align: center;
    order: 1;
    margin: 0px 0px 30px 0px;
  }
  .applicationScreen.orderPopup .image {
    position: relative;
    width: 50%;
    height: 50vw;
    order: 4;
    left: 0;
    margin: 30px 0px 0px 0px;
    opacity: 1;
  }
  .closeIcon {
    position: fixed;
  }
}
@media (max-width: 768px) {
  .applicationScreen {
    --formPadding: 10px;
  }
  .applicationScreen .titleBackgroundBlock {
    justify-content: center;
  }
  .applicationScreen .titleBackgroundBlock .titleBackground {
    justify-content: center;
    text-align: center;
    line-height: 1;
  }
  .applicationScreen .form {
    width: 100%;
    max-width: 350px;
  }
  .applicationScreen .image {
    width: 100%;
    height: 55vw;
    max-width: 350px;
    order: 4;
  }
}
@media (max-width: 640px) {
  .applicationScreen .image {
    width: 100%;
    height: 100vw;
    max-height: 360px;
  }
}
@media (max-width: 480px) {
  .applicationScreen .image {
    width: 100vw;
    height: 110vw;
    max-height: unset;
    max-width: unset;
  }
  .applicationScreen .form {
    max-width: unset;
  }
}/*# sourceMappingURL=styles.module.css.map */