.screenScroll {
	position: relative;
	overflow: auto;
	overflow-x: hidden;

	--textGap: 5px;

	.screen {
		position: relative;
		top: auto;
		opacity: 1;
		padding: calc(var(--screenPadding) * 4) 0px 0px 0px;
		height: fit-content;
		min-height: unset;

		.screenContent {
			margin: 0;
			height: fit-content;
		}

		.textBlock {
			flex-direction: column;

			.text {
				font-family: "Panama Regular";
				font-size: var(--mainTextSize);
				text-transform: uppercase;
			}
			.description {
				flex-direction: column;
				gap: calc(var(--textGap) * 2);
				font-family: Inter;
				font-size: var(--additionalTextSize);
				overflow-y: auto;
			}
		}

		.screenTitle {
			width: 100%;
			justify-content: center;
			text-align: center;
			font-family: "Panama Regular";
			font-size: var(--mainTextSize);
			text-transform: uppercase;
			margin: 0px 0px calc(var(--screenPadding) * 4) 0px;
		}
	}

	.screen1 {
		height: calc(100vh - var(--screenPadding) * 4);
		min-height: calc(100vh - var(--screenPadding) * 4);
		.screenContent {
			justify-content: center;
			height: calc(100% - var(--screenPadding) * 4 * 2);
		}

		.backgroundImage {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
		}

		.projectName {
			position: absolute;
			bottom: 100px;
			text-align: center;
			font-size: 88px;
			font-weight: 300;
			color: #fff;
		}
	}

	.screen2 {
		--awardTransform: 10px;
		height: fit-content;

		.screenContent {
			flex-direction: column;
			gap: 150px;
			height: fit-content;
		}
		.content {
			gap: 150px 20px;
			flex-wrap: wrap;

			&.noFirstBlock {
				.block {
					&:nth-child(1) {
						display: none;
					}
					&:nth-child(2) {
						order: 1;
						padding: 0px 5vw 0px 0px;
						width: calc(50% - 10px - 5vw);
					}
					&:nth-child(3) {
						order: 3;
					}
					&:nth-child(4) {
						order: 2;
					}
				}
			}
		}

		.block {
			flex-direction: row;
			width: calc(50% - 10px);
			gap: 4vw;

			&:nth-child(1n) {
				padding: 0px 5vw 0px 0px;
				width: calc(50% - 10px - 5vw);
			}

			&:nth-child(2n) {
				padding: 0px 0px 0px 5vw;
				width: calc(50% - 10px - 5vw);
			}
		}

		.projectServices {
			flex-direction: column;
		}

		.blockTitle {
			color: #b0afad;
			margin: 0px 0px 15px 0px;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 5px;
			padding: 0px 0px 0px 20px;
			margin: 0px;
			li {
				padding: 0px 0px 0px 10px;
				&::marker {
					color: #b0afad;
				}
			}
		}

		.text {
		}

		.projectTeam {
			flex-direction: column;
		}

		.projectAbout {
			flex-direction: column;

			.cityYear {
				margin: 25px 0px 0px 0px;
				opacity: 0.5;
				font-style: italic;
			}
		}

		.projectSpace {
			flex-direction: column;
			justify-content: flex-end;
		}

		.projectSmi {
			flex-direction: column;

			.smiBlock {
				gap: 75px;

				.linkBlock,
				a.linkBlock {
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 5px;
					color: var(--mainTextColor);
					text-decoration: none;
					cursor: pointer;

					&:hover {
						.link {
							.text {
								letter-spacing: var(--letterSpacingHover);
								text-decoration: underline;
							}
							.arrow {
								transform: rotate(0deg);
							}
						}
					}

					.link {
						gap: 5px;
						align-items: center;

						.text {
							letter-spacing: var(--letterSpacing);
							transition: 0.25s;
						}

						.arrow {
							width: 15px;
							height: 15px;
							background-image: url("/images/arrow_right.svg");
							background-size: contain;
							background-repeat: no-repeat;
							background-position: center;
							transform: rotate(-45deg);
							transition: 0.25s;
						}
					}
				}
			}
		}

		.awardsBlock {
			flex-direction: column;
			align-items: center;
			gap: 15px;
		}

		.awardsList {
			justify-content: center;
			gap: 0px;
			transform: translate(calc(var(--awardTransform) * 0.5), 0px);
		}

		.award {
			margin: 0px 0px 0px calc(var(--awardTransform) * -1);
			border-radius: 50%;

			.linesBlock {
				display: none;
				position: absolute;
				width: 100%;
				height: 100%;

				.line {
					position: absolute;
					background-color: white;
					opacity: 0.5;

					&:nth-child(1) {
						left: 50%;
						top: 0;
						transform: translate(-50%, 0px);
						width: 1px;
						height: 50px;
					}
					&:nth-child(2) {
						right: 0;
						top: 50%;
						transform: translate(0px, -50%);
						width: 25px;
						height: 1px;
					}
					&:nth-child(3) {
						left: 50%;
						bottom: 0;
						transform: translate(-50%, 0px);
						width: 1px;
						height: 50px;
					}
					&:nth-child(4) {
						left: 0;
						top: 50%;
						transform: translate(0px, -50%);
						width: 25px;
						height: 1px;
					}
				}
			}

			.image {
				justify-content: center;
				align-items: center;
				width: 70px;
				height: 70px;
				border-radius: 50%;
				overflow: hidden;

				img {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 50%;
				}

				.noImageAwardName {
					justify-content: center;
					align-items: center;
					font-size: 10px;
					text-transform: uppercase;
					text-align: center;
					width: calc(100% - 10px);
					height: calc(100% - 10px);
					padding: 5px;
				}
			}

			.topBlock {
				flex-direction: column;
				align-items: center;
				gap: 5px;
			}

			.nominationsList {
				flex-direction: column;
				align-items: center;
				gap: 5px;

				.nomination {
					justify-content: center;
					width: 100%;
					text-align: center;
				}
			}

			.nominationsList,
			.awardYear,
			.awardName {
				display: none;
			}

			.awardName {
				font-size: 18px;
				font-family: "Panama Regular";
				text-transform: uppercase;
			}

			.awardYear {
				font-size: 18px;
				font-family: "Panama Regular";
				text-transform: uppercase;
				&.active {
					display: flex;
				}
			}
		}
	}

	.notFoundScreen {
		width: 100%;
		height: 100%;
		padding: 0;
		.screenContent {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 20px;

			.textBlock {
				justify-content: center;
				text-align: center;
				font-size: var(--menuFontSize);
				font-family: "Inter";
			}

			.button,
			a.button {
				position: relative;
				display: flex;
				align-items: center;
				font-family: Panama Regular;
				font-weight: 400;
				font-family: "Panama Regular";
				font-size: var(--menuFontSize);
				gap: 5px;
				cursor: pointer;
				color: var(--mainTextColor);
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					.text {
						letter-spacing: var(--letterSpacingHover);
					}
					.icon {
						transform: rotate(0deg);
					}
				}

				.icon {
					width: 20px;
					height: 20px;
					background-image: url(/images/arrow_right.svg);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					transform: rotate(-45deg);
					transition: 0.15s;
				}

				.text {
					transform: translate(0px, 7%);
					letter-spacing: var(--letterSpacing);
					transition: 0.15s;
				}
			}
		}
	}

	.imageScreen {
		height: fit-content;
		.screenContent {
			flex-direction: column;
			height: fit-content;
		}

		.imageBlock {
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 48vw;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.contentCenterScreen {
		--imageWidth: 520px;
		--textBottomPosition: 100px;

		.screenContent {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: calc(100% - var(--screenPadding) * 4 * 2);
			height: fit-content;
		}

		.textBlock {
			flex-direction: column;
			gap: var(--textGap);
			position: absolute;
			max-width: calc((var(--contentWidth) - var(--imageWidth)) * 0.5 - var(--screenPadding) * 2 * 2);
			padding: 0px calc(var(--screenPadding) * 2);
			width: fit-content;
			left: 0;
			bottom: 0;
			transform: translate(-100%, calc(var(--textBottomPosition) * -1));

			&.noImage {
				position: relative;
				max-width: var(--imageWidth);
				padding: 0px;

				.text {
					justify-content: center;
					text-align: center;
				}
				.description {
					justify-content: center;
				}
			}

			.text {
			}
			.description {
				padding: 0px 0px 0px var(--screenPadding);
				max-height: calc(var(--imageWidth) - var(--textBottomPosition) * 2 - var(--textGap) - var(--mainTextSize));
			}
			.scrollOverlay {
				display: none;
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 25px;
				background: linear-gradient(to bottom, transparent, #fbf9f4);
				pointer-events: none;
				opacity: 1;

				&.active {
					display: flex;
				}
			}
		}

		.imageBlock {
			justify-content: center;
			align-items: center;
			width: var(--imageWidth);
			height: var(--imageWidth);

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.contentLeftRightScreen {
		&.contentRightScreen {
			.contentBlock {
				flex-direction: column-reverse;
				align-items: flex-start;
				order: 2;
			}
			.imageBlock {
				order: 1;
			}
			.textBlock,
			.littleImageBlock {
				padding: 0px calc(var(--screenPadding) * 2) 0px calc(var(--screenPadding) * 6);
			}
		}
		.screenContent {
			max-width: unset;
			height: fit-content;
			flex-direction: column;
		}

		.contentContainer {
			align-items: stretch;
			position: relative;
			width: 100%;
		}
		.contentBlock {
			width: 50%;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			gap: 10vw;
			padding: calc(var(--screenPadding) * 2) 0px;
		}
		.imageBlock {
			width: 50%;
			align-items: stretch;

			img {
				position: relative;
				height: 100%;
				min-height: 70vw;
				object-fit: cover;
			}

			&.noImage {
				min-height: unset;
				height: fit-content;
			}
		}

		.textBlock,
		.littleImageBlock {
			width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 6 - var(--screenPadding) * 2);
			padding: 0px calc(var(--screenPadding) * 6) 0px calc(var(--screenPadding) * 2);
		}

		.littleImageBlock {
			justify-content: center;
			height: 25vw;
			img {
				width: 25vw;
				height: 25vw;
			}
		}

		.image {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.contentListsScreen {
		.screenContent {
			flex-wrap: wrap;
			gap: 50px;
			height: fit-content;
		}

		.block {
			flex-direction: column;
			width: calc(50% - 25px);
			gap: 20px;
			padding: 0px 5vw 0px 0vw;
			width: calc(50% - 25px - 5vw);

			&:nth-child(2n) {
				padding: 0px 0px 0px 5vw;
				width: calc(50% - 25px - 5vw);
			}
		}

		.blockTitle {
			font-family: "Panama Regular";
			font-size: var(--mainTextSize);
			text-transform: uppercase;
		}

		.blockItemsList {
			flex-direction: column;
			gap: 15px;
		}
		.blockItem {
			flex-direction: column;
			gap: 3px;
			&.blockItemNoTitle {
				.itemList {
					padding: 0px;
				}
				.item {
					display: flex;
					padding: 0px;
				}
			}
		}
		.blockItemTitle {
			font-size: var(--additionalTextSize);
			color: #b0afad;
		}
		.itemList {
			flex-direction: column;
			gap: 3px;
			padding: 0px 0px 0px 20px;
		}
		.item {
			display: list-item;
			padding: 0px 0px 0px 10px;
			font-size: var(--additionalTextSize);

			&::marker {
				color: #b0afad;
			}
		}
	}

	.galleryScreen {
		.screenContent {
			max-width: unset;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		.galleryWrapper {
			overflow: hidden;
			width: 100%;
			transition: 0s;

			&.soloImage {
				justify-content: center;

				.gallery {
					justify-content: center;
				}

				.imageItem {
					width: 25vw;
					height: 35vw;

					.imageBlock {
						img,
						video {
							max-width: unset;
							max-height: unset;
							width: 100%;
							height: 100%;
							object-fit: contain;
							object-position: center;
						}
					}
				}
			}

			* {
				transition: 0s;
			}
		}

		.gallery {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 2vw;
			padding: 0;
			width: 100%;
			overflow-x: scroll;
			cursor: grab;
			user-select: none;
			&::-webkit-scrollbar {
				display: none;
			}
		}

		.imageItem {
			justify-content: center;
			align-items: center;
			flex: 0 0 auto;
			width: calc(100% / 4.5);
			height: 32vw;
			// aspect-ratio: 3 / 4;
			scroll-snap-align: center;

			.imageBlock {
				justify-content: center;
				align-items: center;
				overflow: hidden;
				position: relative;
				width: fit-content;
				height: fit-content;
				object-fit: contain;
				user-drag: none;
				user-select: none;
				// pointer-events: none;
				// transition: all 0.2s ease; // Добавляем плавный переход для hover эффектов

				img,
				video {
					position: relative;
					max-width: 250px;
					max-height: 300px;
					cursor: pointer; // Добавляем курсор-указатель для кликабельности
					transition: all 0s, max-width 0.25s linear, max-height 0.25s linear;
				}
			}

			.description {
				justify-content: center;
				position: absolute;
				bottom: 0px;
				width: calc(100% - 40px);
				padding: 5px 20px;
				color: white;
				text-shadow: 0 0 1px black;
				text-align: center;
				font-size: 10px;
				transform: translate(0px, 120%);
				opacity: 0;
				transition: all 0s, transform 0.25s linear, opacity 0.25s linear;
			}

			&.active {
				.imageBlock {
					z-index: 1;

					.description {
						transform: translate(0px, 0%);
						font-size: 16px;
						opacity: 1;
					}
					img {
						max-width: 520px;
						max-height: 750px;
						transition: all 0s, max-width 0.7s ease, max-height 0.75s ease;
					}
				}
			}
		}
	}
}

@media (max-width: 1680px) {
	.screenScroll {
		.screen {
			.screenTitle {
				margin: 0px 0px calc(var(--screenPadding) * 3) 0px;
			}
		}
		.screen1 {
			.screenContent {
				height: calc(100% - var(--screenPadding) * 3 * 2);
			}
			.projectName {
				font-size: 4.6vw;
				bottom: 80px;
			}
		}
		.screen2 {
			.block {
				&:nth-child(1n) {
					padding: 0px 2vw 0px 0px;
					width: calc(50% - 10px - 2vw);
				}
				&:nth-child(2n) {
					padding: 0px 0px 0px 2vw;
					width: calc(50% - 10px - 2vw);
				}
			}
		}
		.contentCenterScreen {
			--imageWidth: 25vw;
			--textBottomPosition: 3vw;

			.textBlock {
				max-width: calc((var(--contentWidth) - var(--imageWidth)) * 0.5 - var(--screenPadding) * 1 * 2);
				padding: 0px calc(var(--screenPadding) * 1);

				.description {
					font-size: 16px;
				}
			}
		}
		.contentLeftRightScreen {
			&.contentRightScreen {
				.textBlock,
				.littleImageBlock {
					width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 3 - var(--screenPadding) * 2);
					padding: 0px calc(var(--screenPadding) * 2) 0px calc(var(--screenPadding) * 3);
				}
			}
			.textBlock,
			.littleImageBlock {
				width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 3 - var(--screenPadding) * 2);
				padding: 0px calc(var(--screenPadding) * 3) 0px calc(var(--screenPadding) * 2);
			}
		}
		.galleryScreen {
			.imageItem {
				width: calc(100vw / 3.5);
				height: 40vw;

				&.active {
					.imageBlock {
						img,
						video {
							max-width: calc((100vw / 3.5) * 1);
							max-height: calc(40vw * 1);
						}
					}
				}

				.imageBlock {
					img,
					video {
						max-width: calc((100vw / 3.5) * 0.75);
						max-height: calc(40vw * 0.75);
					}
				}
			}
		}
	}
}
@media (max-width: 1440px) {
	.screenScroll {
		.screen2 {
			.content {
				gap: 8vw 4vw;

				&.twoBlocks {
					&.noArticles {
						.projectSpaceBlock {
							padding: 0px 0vw 0px 2vw;
						}
					}

					.teamServicesBlock {
						flex-direction: row;
						padding: 0px 0px 0px 0px;
						width: calc(100% - 0vw);
						gap: 4vw;
						order: 1;

						.projectServices {
							padding: 0px 2vw 0px 0px;
							width: calc(50% - 2vw - 2vw);
						}

						.projectTeam {
							padding: 0px 0px 0px 2vw;
							width: calc(50% - 2vw - 2vw);
						}
					}

					.projectAboutBlock {
						padding: 0px 2vw 0px 0px;
						order: 2;
					}

					.projectSpaceBlock {
						padding: 0px 2vw 0px 0vw;
						order: 4;
					}

					.projectArticlesBlock {
						padding: 0px 0vw 0px 2vw;
						order: 3;
					}
				}
			}
			.block {
				flex-wrap: wrap;
				gap: 8vw 4vw;
				width: calc(50% - 2vw - 2vw);

				&:nth-child(1n) {
					width: calc(50% - 2vw - 2vw);
				}
				&:nth-child(2n) {
					width: calc(50% - 2vw - 2vw);
				}

				.projectServices {
					width: calc(50% - 2vw);
					min-width: 200px;
				}

				.projectTeam {
					width: calc(50% - 2vw);
					min-width: 200px;
				}
			}
		}
		.contentCenterScreen {
			--imageWidth: 30vw;

			.textBlock {
				padding: 0px calc(var(--screenPadding) * 1) 0px 0px;
				max-width: calc((var(--contentWidth) - var(--imageWidth)) * 0.5 - var(--screenPadding) * 1 * 1);

				.description {
					font-size: 1.1vw;
					padding: 0px 0px 0px calc(var(--screenPadding) * 0.5);
				}
			}
		}
		.contentLeftRightScreen {
			.textBlock {
				.description {
					font-size: 1.1vw;
				}
			}
		}
		.galleryScreen {
			.imageItem {
				width: calc(100vw / 2.5);
				height: 50vw;

				&.active {
					.imageBlock {
						img,
						video {
							max-width: calc((100vw / 2.5) * 1);
							max-height: calc(50vw * 1);
						}
					}
				}

				.imageBlock {
					img,
					video {
						max-width: calc((100vw / 2.5) * 0.75);
						max-height: calc(50vw * 0.75);
					}
				}
			}
		}
	}
}
@media (max-width: 1280px) {
	.screenScroll {
		.contentCenterScreen {
			--imageWidth: 33vw;

			.imageBlock {
				flex-direction: column;
				align-items: center;
				height: fit-content;
				gap: 25px;

				img {
					width: var(--imageWidth);
					height: var(--imageWidth);
					position: relative;
					order: 2;
				}
				.textBlock {
					order: 1;
					position: relative;
					transform: translate(0px, 0px);
					padding: 0px;
					width: 100%;
					max-width: unset;
					gap: 2px;

					.description {
						max-height: unset;
						font-size: 16px;
						padding: 0px 0px 0px calc(var(--screenPadding) * 1);
					}
				}
			}
		}
		.contentLeftRightScreen {
			&.contentRightScreen {
				.textBlock,
				.littleImageBlock {
					width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 2 - var(--screenPadding) * 0);
					padding: 0px calc(var(--screenPadding) * 0) 0px calc(var(--screenPadding) * 1);
				}
			}
			.textBlock,
			.littleImageBlock {
				width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 2 - var(--screenPadding) * 0);
				padding: 0px calc(var(--screenPadding) * 2) 0px calc(var(--screenPadding) * 0);
				.description {
					font-size: 16px;
				}
				img {
					width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 2 - var(--screenPadding) * 0);
					height: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 2 - var(--screenPadding) * 0);
				}
			}

			.littleImageBlock {
				height: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 2);
			}
		}
	}
}
@media (max-width: 980px) {
	.screenScroll {
		&.simpleScroll {
			.screen {
				&.screen1 {
					height: calc(100vh - 100px);

					.screenContent {
						height: 100%;
					}
				}
			}
		}
		.screen {
			padding: 100px 0px 0px 0px;
			.screenTitle {
				margin: 0px 0px calc(var(--screenPadding) * 2) 0px;
			}
		}
		.screen2 {
			.awardsBlock {
				left: calc(var(--screenPadding) * -1);
				width: 100vw;
			}

			.awardsList {
				justify-content: flex-start;
				width: fit-content;
				max-width: calc(100% - (var(--screenPadding) * 2));
				transform: translate(0px, 0px);
				gap: 15px;
				overflow-x: auto;
				padding: 0px var(--screenPadding) 5px var(--screenPadding);
			}
			.award {
				margin: 0px;
				width: 265px;
				min-width: 265px;
				height: 350px;
				border-radius: 0px;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 15px;
				box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.085);

				.nominationsList,
				.awardYear,
				.awardName,
				.linesBlock {
					display: flex;

					.nomination {
						padding: 0px 10px;
						width: calc(100% - 20px);
					}
				}
			}
		}

		.contentCenterScreen {
			--imageWidth: 40vw;
		}

		.imageScreen {
			.screenContent {
				min-height: unset;
			}
			.imageBlock {
				height: 62vw;
			}
		}

		.contentLeftRightScreen {
			&.contentRightScreen {
				.contentBlock {
					flex-direction: column;
					padding: 0px var(--screenPadding) 0px calc(var(--screenPadding) * 2);
				}

				.textBlock {
					width: calc(100%);
					padding: 0;
				}

				.imageBlock {
					width: calc(50% - var(--screenPadding));
					padding: 0px 0px 0px var(--screenPadding);
				}

				.littleImageBlock {
					padding: 0;
					width: 100%;
					height: calc(50vw - var(--screenPadding) * 3);

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}

			.contentBlock {
				width: calc(50% - var(--screenPadding) * 3);
				padding: 0px calc(var(--screenPadding) * 2) 0px var(--screenPadding);
			}

			.textBlock {
				width: calc(100%);
				padding: 0;
			}

			.imageBlock {
				width: calc(50% - var(--screenPadding));
				padding: 0px var(--screenPadding) 0px 0px;
			}

			.littleImageBlock {
				padding: 0;
				width: 100%;
				height: calc(50vw - var(--screenPadding) * 3);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.contentListsScreen {
			.screenContent {
				height: fit-content;
				min-height: fit-content;
				gap: 50px 30px;
			}

			.block {
				padding: 0px 3vw 0px 0px;
				width: calc(50% - 15px - 3vw);

				&:nth-child(2n) {
					padding: 0px 0px 0px 3vw;
					width: calc(50% - 15px - 3vw);
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.screenScroll {
		.screen1 {
			height: 100dvh;
			padding: 0;
			.screenContent {
				position: absolute;
				height: 100%;
				width: 100%;
			}
			.projectName {
				height: fit-content;
				bottom: unset;
				top: 50dvh;
				transform: translate(0px, 25px);
			}
		}
		.contentCenterScreen {
			--imageWidth: 300px;
		}
		.contentLeftRightScreen {
			&.contentRightScreen {
				.contentBlock {
					padding: 0;
					width: 100%;
					order: 1;
				}
				.imageBlock {
					width: 100%;
					padding: 0;
					height: fit-content;
					order: 2;
				}
				.textBlock {
					order: 2;
				}
				.littleImageBlock {
					height: fit-content;
					order: 1;
				}
			}
			.contentContainer {
				flex-direction: column;
				align-items: center;
				width: calc(100% - var(--screenPadding) * 2);
				padding: 0px var(--screenPadding);
				gap: 25px;
			}
			.contentBlock {
				flex-direction: column-reverse;
				width: 100%;
				padding: 0;
				gap: 25px;
			}

			.littleImageBlock {
				padding: 0;
				width: 100%;
				height: fit-content;

				img {
					position: relative;
				}
			}

			.imageBlock {
				width: 100%;
				padding: 0;
				height: fit-content;

				img {
					position: relative;
				}
			}
		}
		.galleryScreen {
			.galleryWrapper {
				&.soloImage {
					.imageItem {
						width: 50vw;
						height: 75vw;
					}
				}
			}
			.screenContent {
				min-height: 50dvh;
				height: fit-content;
			}
			.gallery {
				align-items: center;
				padding: 0;
				gap: 15px;
			}
			.imageItem {
				width: calc(100% / 3);
				height: 55vw;
			}
		}

		.screen2 {
			.projectSmi {
				.smiBlock {
					gap: 25px;
				}
			}
		}
	}
}
@media (max-width: 640px) {
	.screenScroll {
		.screen2 {
			.content {
				gap: 75px 0px;
				&.twoBlocks {
					&.noArticles {
						.projectSpaceBlock {
							padding: 0px 0px 0px 0px;
						}
					}
					.teamServicesBlock {
					}
					.projectAboutBlock {
						padding: 0px 0px 0px 0px;
					}
					.projectSpaceBlock {
						padding: 0px 0px 0px 0px;
					}
					.projectArticlesBlock {
						padding: 0px 0px 0px 0px;
					}
				}
			}
			.block {
				&:nth-child(1n) {
					width: calc(100%);
					padding: 0px;
				}
				&:nth-child(2n) {
					width: calc(100%);
					padding: 0px;
				}
			}
		}
		.contentListsScreen {
			.screenContent {
				gap: 75px;
			}
			.block {
				width: 100%;
				padding: 0px;

				&:nth-child(2n) {
					width: 100%;
					padding: 0px;
				}
			}
		}
		.galleryScreen {
			.imageItem {
				width: calc(100% / 2.2);
			}
		}
	}
}
@media (max-width: 480px) {
	.screenScroll {
		.screen {
			padding: 50px 0px 0px 0px;
		}
		.screen1 {
			.projectName {
				font-size: 21px;
				bottom: 50%;
			}
		}
		.screen2 {
			.content {
				flex-direction: column;
				gap: 50px;
				&.twoBlocks {
					.teamServicesBlock {
						flex-direction: column;
						gap: 50px;
						.projectServices {
							width: 100%;
							padding: 0px 0px 0px 0px;
						}
						.projectTeam {
							width: 100%;
							padding: 0px 0px 0px 0px;
						}
					}
				}
			}
			.block {
			}

			.projectSmi {
				.smiBlock {
					flex-direction: column;
					gap: 5px;

					.date {
						font-weight: 300;
						font-size: 14px;
						opacity: 0.5;
					}
				}
			}
		}
		.contentCenterScreen {
			--imageWidth: calc(100vw - var(--screenPadding) * 2);

			.imageBlock {
				width: 100%;
				.textBlock {
					.description {
						padding: 0px;
					}
				}
			}
		}
		.galleryScreen {
			.galleryWrapper {
				&.soloImage {
					.imageItem {
						width: 265px;
						height: 350px;
					}
				}
			}
			.imageItem {
				width: calc(100% / 2);
			}
		}
	}
}
