.screenScroll {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  --textGap: 5px;
}
.screenScroll .screen {
  position: relative;
  top: auto;
  opacity: 1;
  padding: calc(var(--screenPadding) * 4) 0px 0px 0px;
  height: -moz-fit-content;
  height: fit-content;
  min-height: unset;
}
.screenScroll .screen .screenContent {
  margin: 0;
}
.screenScroll .screen .textBlock {
  flex-direction: column;
}
.screenScroll .screen .textBlock .text {
  font-family: "Panama Regular";
  font-size: var(--mainTextSize);
  text-transform: uppercase;
}
.screenScroll .screen .textBlock .description {
  flex-direction: column;
  gap: calc(var(--textGap) * 2);
  font-family: Inter;
  font-size: var(--additionalTextSize);
  overflow-y: auto;
}
.screenScroll .screen .screenTitle {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-family: "Panama Regular";
  font-size: var(--mainTextSize);
  text-transform: uppercase;
  margin: 0px 0px calc(var(--screenPadding) * 4) 0px;
}
.screenScroll .screen1 {
  height: calc(100vh - var(--screenPadding) * 4);
  min-height: calc(100vh - var(--screenPadding) * 4);
}
.screenScroll .screen1 .screenContent {
  justify-content: center;
}
.screenScroll .screen1 .backgroundImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.screenScroll .screen1 .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.screenScroll .screen1 .projectName {
  position: absolute;
  bottom: 100px;
  text-align: center;
  font-size: 88px;
  font-weight: 300;
  color: #fff;
}
.screenScroll .screen2 {
  --awardTransform: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
.screenScroll .screen2 .screenContent {
  flex-direction: column;
  gap: 150px;
  height: -moz-fit-content;
  height: fit-content;
}
.screenScroll .screen2 .content {
  gap: 150px 20px;
  flex-wrap: wrap;
}
.screenScroll .screen2 .content.noFirstBlock .block:nth-child(1) {
  display: none;
}
.screenScroll .screen2 .content.noFirstBlock .block:nth-child(2) {
  order: 1;
  padding: 0px 5vw 0px 0px;
  width: calc(50% - 10px - 5vw);
}
.screenScroll .screen2 .content.noFirstBlock .block:nth-child(3) {
  order: 3;
}
.screenScroll .screen2 .content.noFirstBlock .block:nth-child(4) {
  order: 2;
}
.screenScroll .screen2 .block {
  flex-direction: row;
  width: calc(50% - 10px);
  gap: 4vw;
}
.screenScroll .screen2 .block:nth-child(1n) {
  padding: 0px 5vw 0px 0px;
  width: calc(50% - 10px - 5vw);
}
.screenScroll .screen2 .block:nth-child(2n) {
  padding: 0px 0px 0px 5vw;
  width: calc(50% - 10px - 5vw);
}
.screenScroll .screen2 .projectServices {
  flex-direction: column;
}
.screenScroll .screen2 .blockTitle {
  color: #b0afad;
  margin: 0px 0px 15px 0px;
}
.screenScroll .screen2 ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px 0px 0px 20px;
  margin: 0px;
}
.screenScroll .screen2 ul li {
  padding: 0px 0px 0px 10px;
}
.screenScroll .screen2 ul li::marker {
  color: #b0afad;
}
.screenScroll .screen2 .projectTeam {
  flex-direction: column;
}
.screenScroll .screen2 .projectAbout {
  flex-direction: column;
}
.screenScroll .screen2 .projectSpace {
  flex-direction: column;
  justify-content: flex-end;
}
.screenScroll .screen2 .projectSmi {
  flex-direction: column;
}
.screenScroll .screen2 .projectSmi .smiBlock {
  gap: 75px;
}
.screenScroll .screen2 .projectSmi .smiBlock .linkBlock,
.screenScroll .screen2 .projectSmi .smiBlock a.linkBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color: var(--mainTextColor);
  text-decoration: none;
  cursor: pointer;
}
.screenScroll .screen2 .projectSmi .smiBlock .linkBlock:hover .link .text,
.screenScroll .screen2 .projectSmi .smiBlock a.linkBlock:hover .link .text {
  letter-spacing: var(--letterSpacingHover);
  text-decoration: underline;
}
.screenScroll .screen2 .projectSmi .smiBlock .linkBlock:hover .link .arrow,
.screenScroll .screen2 .projectSmi .smiBlock a.linkBlock:hover .link .arrow {
  transform: rotate(0deg);
}
.screenScroll .screen2 .projectSmi .smiBlock .linkBlock .link,
.screenScroll .screen2 .projectSmi .smiBlock a.linkBlock .link {
  gap: 5px;
  align-items: center;
}
.screenScroll .screen2 .projectSmi .smiBlock .linkBlock .link .text,
.screenScroll .screen2 .projectSmi .smiBlock a.linkBlock .link .text {
  letter-spacing: var(--letterSpacing);
  transition: 0.25s;
}
.screenScroll .screen2 .projectSmi .smiBlock .linkBlock .link .arrow,
.screenScroll .screen2 .projectSmi .smiBlock a.linkBlock .link .arrow {
  width: 15px;
  height: 15px;
  background-image: url("/images/arrow_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-45deg);
  transition: 0.25s;
}
.screenScroll .screen2 .awardsBlock {
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.screenScroll .screen2 .awardsList {
  justify-content: center;
  gap: 0px;
  transform: translate(calc(var(--awardTransform) * 0.5), 0px);
}
.screenScroll .screen2 .award {
  margin: 0px 0px 0px calc(var(--awardTransform) * -1);
  border-radius: 50%;
}
.screenScroll .screen2 .award .linesBlock {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.screenScroll .screen2 .award .linesBlock .line {
  position: absolute;
  background-color: white;
  opacity: 0.5;
}
.screenScroll .screen2 .award .linesBlock .line:nth-child(1) {
  left: 50%;
  top: 0;
  transform: translate(-50%, 0px);
  width: 1px;
  height: 50px;
}
.screenScroll .screen2 .award .linesBlock .line:nth-child(2) {
  right: 0;
  top: 50%;
  transform: translate(0px, -50%);
  width: 25px;
  height: 1px;
}
.screenScroll .screen2 .award .linesBlock .line:nth-child(3) {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0px);
  width: 1px;
  height: 50px;
}
.screenScroll .screen2 .award .linesBlock .line:nth-child(4) {
  left: 0;
  top: 50%;
  transform: translate(0px, -50%);
  width: 25px;
  height: 1px;
}
.screenScroll .screen2 .award .image {
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.screenScroll .screen2 .award .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.screenScroll .screen2 .award .image .noImageAwardName {
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  padding: 5px;
}
.screenScroll .screen2 .award .topBlock {
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.screenScroll .screen2 .award .nominationsList {
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.screenScroll .screen2 .award .nominationsList .nomination {
  justify-content: center;
  width: 100%;
  text-align: center;
}
.screenScroll .screen2 .award .nominationsList,
.screenScroll .screen2 .award .awardYear,
.screenScroll .screen2 .award .awardName {
  display: none;
}
.screenScroll .screen2 .award .awardName {
  font-size: 18px;
  font-family: "Panama Regular";
  text-transform: uppercase;
}
.screenScroll .screen2 .award .awardYear {
  font-size: 18px;
  font-family: "Panama Regular";
  text-transform: uppercase;
}
.screenScroll .screen2 .award .awardYear.active {
  display: flex;
}
.screenScroll .imageScreen {
  height: -moz-fit-content;
  height: fit-content;
}
.screenScroll .imageScreen .screenContent {
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.screenScroll .imageScreen .imageBlock {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48vw;
}
.screenScroll .imageScreen .imageBlock img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.screenScroll .contentCenterScreen {
  --imageWidth: 520px;
  --textBottomPosition: 100px;
}
.screenScroll .contentCenterScreen .screenContent {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - var(--screenPadding) * 4 * 2);
  height: -moz-fit-content;
  height: fit-content;
}
.screenScroll .contentCenterScreen .textBlock {
  flex-direction: column;
  gap: var(--textGap);
  position: absolute;
  max-width: calc((var(--contentWidth) - var(--imageWidth)) * 0.5 - var(--screenPadding) * 2 * 2);
  padding: 0px calc(var(--screenPadding) * 2);
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  bottom: 0;
  transform: translate(-100%, calc(var(--textBottomPosition) * -1));
}
.screenScroll .contentCenterScreen .textBlock.noImage {
  position: relative;
  max-width: var(--imageWidth);
  padding: 0px;
}
.screenScroll .contentCenterScreen .textBlock.noImage .text {
  justify-content: center;
  text-align: center;
}
.screenScroll .contentCenterScreen .textBlock.noImage .description {
  justify-content: center;
}
.screenScroll .contentCenterScreen .textBlock .description {
  padding: 0px 0px 0px var(--screenPadding);
  max-height: calc(var(--imageWidth) - var(--textBottomPosition) * 2 - var(--textGap) - var(--mainTextSize));
}
.screenScroll .contentCenterScreen .textBlock .scrollOverlay {
  display: none;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(to bottom, transparent, #fbf9f4);
  pointer-events: none;
  opacity: 1;
}
.screenScroll .contentCenterScreen .textBlock .scrollOverlay.active {
  display: flex;
}
.screenScroll .contentCenterScreen .imageBlock {
  justify-content: center;
  align-items: center;
  width: var(--imageWidth);
  height: var(--imageWidth);
}
.screenScroll .contentCenterScreen .imageBlock img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.screenScroll .contentLeftRightScreen.contentRightScreen .contentBlock {
  flex-direction: column-reverse;
  align-items: flex-start;
  order: 2;
}
.screenScroll .contentLeftRightScreen.contentRightScreen .imageBlock {
  order: 1;
}
.screenScroll .contentLeftRightScreen.contentRightScreen .textBlock,
.screenScroll .contentLeftRightScreen.contentRightScreen .littleImageBlock {
  padding: 0px calc(var(--screenPadding) * 2) 0px calc(var(--screenPadding) * 6);
}
.screenScroll .contentLeftRightScreen .screenContent {
  max-width: unset;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
}
.screenScroll .contentLeftRightScreen .contentContainer {
  align-items: stretch;
  position: relative;
  width: 100%;
}
.screenScroll .contentLeftRightScreen .contentBlock {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10vw;
  padding: calc(var(--screenPadding) * 2) 0px;
}
.screenScroll .contentLeftRightScreen .imageBlock {
  width: 50%;
  align-items: stretch;
}
.screenScroll .contentLeftRightScreen .imageBlock img {
  position: relative;
  height: 100%;
  min-height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.screenScroll .contentLeftRightScreen .imageBlock.noImage {
  min-height: unset;
  height: -moz-fit-content;
  height: fit-content;
}
.screenScroll .contentLeftRightScreen .textBlock,
.screenScroll .contentLeftRightScreen .littleImageBlock {
  width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 6 - var(--screenPadding) * 2);
  padding: 0px calc(var(--screenPadding) * 6) 0px calc(var(--screenPadding) * 2);
}
.screenScroll .contentLeftRightScreen .littleImageBlock {
  justify-content: center;
  height: 25vw;
}
.screenScroll .contentLeftRightScreen .littleImageBlock img {
  width: 25vw;
  height: 25vw;
}
.screenScroll .contentLeftRightScreen .image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.screenScroll .contentListsScreen .screenContent {
  flex-wrap: wrap;
  gap: 50px;
}
.screenScroll .contentListsScreen .block {
  flex-direction: column;
  width: calc(50% - 25px);
  gap: 20px;
  padding: 0px 5vw 0px 0vw;
  width: calc(50% - 25px - 5vw);
}
.screenScroll .contentListsScreen .block:nth-child(2n) {
  padding: 0px 0px 0px 5vw;
  width: calc(50% - 25px - 5vw);
}
.screenScroll .contentListsScreen .blockTitle {
  font-family: "Panama Regular";
  font-size: var(--mainTextSize);
  text-transform: uppercase;
}
.screenScroll .contentListsScreen .blockItemsList {
  flex-direction: column;
  gap: 15px;
}
.screenScroll .contentListsScreen .blockItem {
  flex-direction: column;
  gap: 3px;
}
.screenScroll .contentListsScreen .blockItem.blockItemNoTitle .itemList {
  padding: 0px;
}
.screenScroll .contentListsScreen .blockItem.blockItemNoTitle .item {
  display: flex;
  padding: 0px;
}
.screenScroll .contentListsScreen .blockItemTitle {
  font-size: var(--additionalTextSize);
  color: #b0afad;
}
.screenScroll .contentListsScreen .itemList {
  flex-direction: column;
  gap: 3px;
  padding: 0px 0px 0px 20px;
}
.screenScroll .contentListsScreen .item {
  display: list-item;
  padding: 0px 0px 0px 10px;
  font-size: var(--additionalTextSize);
}
.screenScroll .contentListsScreen .item::marker {
  color: #b0afad;
}
.screenScroll .galleryScreen .screenContent {
  max-width: unset;
  width: 100%;
  margin: 0;
  padding: 0;
}
.screenScroll .galleryScreen .galleryWrapper {
  overflow: hidden;
  width: 100%;
  transition: 0s;
}
.screenScroll .galleryScreen .galleryWrapper.soloImage {
  justify-content: center;
}
.screenScroll .galleryScreen .galleryWrapper.soloImage .gallery {
  justify-content: center;
}
.screenScroll .galleryScreen .galleryWrapper.soloImage .imageItem {
  width: 25vw;
  height: 35vw;
}
.screenScroll .galleryScreen .galleryWrapper.soloImage .imageItem .imageBlock img {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
}
.screenScroll .galleryScreen .galleryWrapper * {
  transition: 0s;
}
.screenScroll .galleryScreen .gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
  padding: 0;
  width: 100%;
  overflow-x: scroll;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.screenScroll .galleryScreen .gallery::-webkit-scrollbar {
  display: none;
}
.screenScroll .galleryScreen .imageItem {
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 15.3846153846%;
  height: 25vw;
  scroll-snap-align: center;
}
.screenScroll .galleryScreen .imageItem .imageBlock {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
  user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.screenScroll .galleryScreen .imageItem .imageBlock img {
  position: relative;
  max-width: 160px;
  max-height: 230px;
  transition: all 0s, max-width 0.25s linear, max-height 0.25s linear;
}
.screenScroll .galleryScreen .imageItem .description {
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: calc(100% - 40px);
  padding: 5px 20px;
  color: white;
  text-shadow: 0 0 1px black;
  text-align: center;
  font-size: 10px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0s, transform 0.25s linear, opacity 0.25s linear;
}
.screenScroll .galleryScreen .imageItem.active .imageBlock {
  z-index: 1;
}
.screenScroll .galleryScreen .imageItem.active .imageBlock .description {
  transform: translate(0px, 0%);
  font-size: 16px;
  opacity: 1;
}
.screenScroll .galleryScreen .imageItem.active .imageBlock img {
  max-width: 520px;
  max-height: 750px;
  transition: all 0s, max-width 0.7s ease, max-height 0.75s ease;
}

@media (max-width: 1680px) {
  .screenScroll .screen .screenTitle {
    margin: 0px 0px calc(var(--screenPadding) * 3) 0px;
  }
  .screenScroll .screen1 .projectName {
    font-size: 4.6vw;
    bottom: 80px;
  }
  .screenScroll .screen2 .block:nth-child(1n) {
    padding: 0px 2vw 0px 0px;
    width: calc(50% - 10px - 2vw);
  }
  .screenScroll .screen2 .block:nth-child(2n) {
    padding: 0px 0px 0px 2vw;
    width: calc(50% - 10px - 2vw);
  }
  .screenScroll .contentCenterScreen {
    --imageWidth: 25vw;
    --textBottomPosition: 3vw;
  }
  .screenScroll .contentCenterScreen .textBlock {
    max-width: calc((var(--contentWidth) - var(--imageWidth)) * 0.5 - var(--screenPadding) * 1 * 2);
    padding: 0px calc(var(--screenPadding) * 1);
  }
  .screenScroll .contentCenterScreen .textBlock .description {
    font-size: 16px;
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .textBlock,
  .screenScroll .contentLeftRightScreen.contentRightScreen .littleImageBlock {
    width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 3 - var(--screenPadding) * 2);
    padding: 0px calc(var(--screenPadding) * 2) 0px calc(var(--screenPadding) * 3);
  }
  .screenScroll .contentLeftRightScreen .textBlock,
  .screenScroll .contentLeftRightScreen .littleImageBlock {
    width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 3 - var(--screenPadding) * 2);
    padding: 0px calc(var(--screenPadding) * 3) 0px calc(var(--screenPadding) * 2);
  }
}
@media (max-width: 1440px) {
  .screenScroll .screen2 .content {
    gap: 8vw 4vw;
  }
  .screenScroll .screen2 .content.twoBlocks.noArticles .projectSpaceBlock {
    padding: 0px 0vw 0px 2vw;
  }
  .screenScroll .screen2 .content.twoBlocks .teamServicesBlock {
    flex-direction: row;
    padding: 0px 0px 0px 0px;
    width: calc(100% - 0vw);
    gap: 4vw;
    order: 1;
  }
  .screenScroll .screen2 .content.twoBlocks .teamServicesBlock .projectServices {
    padding: 0px 2vw 0px 0px;
    width: calc(50% - 2vw - 2vw);
  }
  .screenScroll .screen2 .content.twoBlocks .teamServicesBlock .projectTeam {
    padding: 0px 0px 0px 2vw;
    width: calc(50% - 2vw - 2vw);
  }
  .screenScroll .screen2 .content.twoBlocks .projectAboutBlock {
    padding: 0px 2vw 0px 0px;
    order: 2;
  }
  .screenScroll .screen2 .content.twoBlocks .projectSpaceBlock {
    padding: 0px 2vw 0px 0vw;
    order: 4;
  }
  .screenScroll .screen2 .content.twoBlocks .projectArticlesBlock {
    padding: 0px 0vw 0px 2vw;
    order: 3;
  }
  .screenScroll .screen2 .block {
    flex-wrap: wrap;
    gap: 8vw 4vw;
    width: calc(50% - 2vw - 2vw);
  }
  .screenScroll .screen2 .block:nth-child(1n) {
    width: calc(50% - 2vw - 2vw);
  }
  .screenScroll .screen2 .block:nth-child(2n) {
    width: calc(50% - 2vw - 2vw);
  }
  .screenScroll .screen2 .block .projectServices {
    width: calc(50% - 2vw);
    min-width: 200px;
  }
  .screenScroll .screen2 .block .projectTeam {
    width: calc(50% - 2vw);
    min-width: 200px;
  }
  .screenScroll .contentCenterScreen {
    --imageWidth: 30vw;
  }
  .screenScroll .contentCenterScreen .textBlock {
    padding: 0px calc(var(--screenPadding) * 1) 0px 0px;
    max-width: calc((var(--contentWidth) - var(--imageWidth)) * 0.5 - var(--screenPadding) * 1 * 1);
  }
  .screenScroll .contentCenterScreen .textBlock .description {
    font-size: 1.1vw;
    padding: 0px 0px 0px calc(var(--screenPadding) * 0.5);
  }
  .screenScroll .contentLeftRightScreen .textBlock .description {
    font-size: 1.1vw;
  }
  .screenScroll .galleryScreen .imageItem {
    width: 20vw;
    height: 35vw;
  }
}
@media (max-width: 1280px) {
  .screenScroll .contentCenterScreen {
    --imageWidth: 33vw;
  }
  .screenScroll .contentCenterScreen .imageBlock {
    flex-direction: column;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    gap: 25px;
  }
  .screenScroll .contentCenterScreen .imageBlock img {
    width: var(--imageWidth);
    height: var(--imageWidth);
    position: relative;
    order: 2;
  }
  .screenScroll .contentCenterScreen .imageBlock .textBlock {
    order: 1;
    position: relative;
    transform: translate(0px, 0px);
    padding: 0px;
    width: 100%;
    max-width: unset;
    gap: 2px;
  }
  .screenScroll .contentCenterScreen .imageBlock .textBlock .description {
    max-height: unset;
    font-size: 16px;
    padding: 0px 0px 0px calc(var(--screenPadding) * 1);
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .textBlock,
  .screenScroll .contentLeftRightScreen.contentRightScreen .littleImageBlock {
    width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 2 - var(--screenPadding) * 0);
    padding: 0px calc(var(--screenPadding) * 0) 0px calc(var(--screenPadding) * 1);
  }
  .screenScroll .contentLeftRightScreen .textBlock,
  .screenScroll .contentLeftRightScreen .littleImageBlock {
    width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 2 - var(--screenPadding) * 0);
    padding: 0px calc(var(--screenPadding) * 2) 0px calc(var(--screenPadding) * 0);
  }
  .screenScroll .contentLeftRightScreen .textBlock .description,
  .screenScroll .contentLeftRightScreen .littleImageBlock .description {
    font-size: 16px;
  }
  .screenScroll .contentLeftRightScreen .textBlock img,
  .screenScroll .contentLeftRightScreen .littleImageBlock img {
    width: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 2 - var(--screenPadding) * 0);
    height: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 2 - var(--screenPadding) * 0);
  }
  .screenScroll .contentLeftRightScreen .littleImageBlock {
    height: calc(var(--contentWidth) * 0.5 - var(--screenPadding) * 2);
  }
}
@media (max-width: 980px) {
  .screenScroll .screen {
    padding: 100px 0px 0px 0px;
  }
  .screenScroll .screen .screenTitle {
    margin: 0px 0px calc(var(--screenPadding) * 2) 0px;
  }
  .screenScroll .screen2 .awardsBlock {
    left: calc(var(--screenPadding) * -1);
    width: 100vw;
  }
  .screenScroll .screen2 .awardsList {
    justify-content: flex-start;
    width: -moz-fit-content;
    width: fit-content;
    max-width: calc(100% - var(--screenPadding) * 2);
    transform: translate(0px, 0px);
    gap: 15px;
    overflow-x: auto;
    padding: 0px var(--screenPadding) 5px var(--screenPadding);
  }
  .screenScroll .screen2 .award {
    margin: 0px;
    width: 265px;
    min-width: 265px;
    height: 350px;
    border-radius: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .screenScroll .screen2 .award .nominationsList,
  .screenScroll .screen2 .award .awardYear,
  .screenScroll .screen2 .award .awardName,
  .screenScroll .screen2 .award .linesBlock {
    display: flex;
  }
  .screenScroll .contentCenterScreen {
    --imageWidth: 40vw;
  }
  .screenScroll .imageScreen .imageBlock {
    height: 62vw;
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .contentBlock {
    flex-direction: column;
    padding: 0px var(--screenPadding) 0px calc(var(--screenPadding) * 2);
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .textBlock {
    width: 100%;
    padding: 0;
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .imageBlock {
    width: calc(50% - var(--screenPadding));
    padding: 0px 0px 0px var(--screenPadding);
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .littleImageBlock {
    padding: 0;
    width: 100%;
    height: calc(50vw - var(--screenPadding) * 3);
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .littleImageBlock img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .screenScroll .contentLeftRightScreen .contentBlock {
    width: calc(50% - var(--screenPadding) * 3);
    padding: 0px calc(var(--screenPadding) * 2) 0px var(--screenPadding);
  }
  .screenScroll .contentLeftRightScreen .textBlock {
    width: 100%;
    padding: 0;
  }
  .screenScroll .contentLeftRightScreen .imageBlock {
    width: calc(50% - var(--screenPadding));
    padding: 0px var(--screenPadding) 0px 0px;
  }
  .screenScroll .contentLeftRightScreen .littleImageBlock {
    padding: 0;
    width: 100%;
    height: calc(50vw - var(--screenPadding) * 3);
  }
  .screenScroll .contentLeftRightScreen .littleImageBlock img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .screenScroll .contentListsScreen .screenContent {
    height: -moz-fit-content;
    height: fit-content;
    gap: 50px 30px;
  }
  .screenScroll .contentListsScreen .block {
    padding: 0px 3vw 0px 0px;
    width: calc(50% - 15px - 3vw);
  }
  .screenScroll .contentListsScreen .block:nth-child(2n) {
    padding: 0px 0px 0px 3vw;
    width: calc(50% - 15px - 3vw);
  }
}
@media (max-width: 768px) {
  .screenScroll .screen1 {
    height: 100dvh;
    padding: 0;
  }
  .screenScroll .screen1 .screenContent {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .screenScroll .screen1 .projectName {
    height: -moz-fit-content;
    height: fit-content;
    bottom: unset;
    top: 50dvh;
    transform: translate(0px, 25px);
  }
  .screenScroll .contentCenterScreen {
    --imageWidth: 300px;
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .contentBlock {
    padding: 0;
    width: 100%;
    order: 1;
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .imageBlock {
    width: 100%;
    padding: 0;
    height: -moz-fit-content;
    height: fit-content;
    order: 2;
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .textBlock {
    order: 2;
  }
  .screenScroll .contentLeftRightScreen.contentRightScreen .littleImageBlock {
    height: -moz-fit-content;
    height: fit-content;
    order: 1;
  }
  .screenScroll .contentLeftRightScreen .contentContainer {
    flex-direction: column;
    align-items: center;
    width: calc(100% - var(--screenPadding) * 2);
    padding: 0px var(--screenPadding);
    gap: 25px;
  }
  .screenScroll .contentLeftRightScreen .contentBlock {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    gap: 25px;
  }
  .screenScroll .contentLeftRightScreen .littleImageBlock {
    padding: 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .screenScroll .contentLeftRightScreen .littleImageBlock img {
    position: relative;
  }
  .screenScroll .contentLeftRightScreen .imageBlock {
    width: 100%;
    padding: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .screenScroll .contentLeftRightScreen .imageBlock img {
    position: relative;
  }
  .screenScroll .galleryScreen .galleryWrapper.soloImage .imageItem {
    width: 50vw;
    height: 75vw;
  }
  .screenScroll .galleryScreen .screenContent {
    min-height: 50dvh;
    height: -moz-fit-content;
    height: fit-content;
  }
  .screenScroll .galleryScreen .gallery {
    align-items: center;
    padding: 0;
    gap: 15px;
  }
  .screenScroll .galleryScreen .imageItem {
    width: 33.3333333333%;
    height: 55vw;
  }
}
@media (max-width: 640px) {
  .screenScroll .screen2 .content {
    gap: 75px 0px;
  }
  .screenScroll .screen2 .content.twoBlocks.noArticles .projectSpaceBlock {
    padding: 0px 0px 0px 0px;
  }
  .screenScroll .screen2 .content.twoBlocks .projectAboutBlock {
    padding: 0px 0px 0px 0px;
  }
  .screenScroll .screen2 .content.twoBlocks .projectSpaceBlock {
    padding: 0px 0px 0px 0px;
  }
  .screenScroll .screen2 .content.twoBlocks .projectArticlesBlock {
    padding: 0px 0px 0px 0px;
  }
  .screenScroll .screen2 .block:nth-child(1n) {
    width: 100%;
    padding: 0px;
  }
  .screenScroll .screen2 .block:nth-child(2n) {
    width: 100%;
    padding: 0px;
  }
  .screenScroll .contentListsScreen .screenContent {
    gap: 75px;
  }
  .screenScroll .contentListsScreen .block {
    width: 100%;
    padding: 0px;
  }
  .screenScroll .contentListsScreen .block:nth-child(2n) {
    width: 100%;
    padding: 0px;
  }
  .screenScroll .galleryScreen .imageItem {
    width: 45.4545454545%;
  }
}
@media (max-width: 480px) {
  .screenScroll .screen1 .projectName {
    font-size: 21px;
    bottom: 50%;
  }
  .screenScroll .screen2 .content {
    flex-direction: column;
    gap: 50px;
  }
  .screenScroll .screen2 .content.twoBlocks .teamServicesBlock {
    flex-direction: column;
    gap: 50px;
  }
  .screenScroll .screen2 .content.twoBlocks .teamServicesBlock .projectServices {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .screenScroll .screen2 .content.twoBlocks .teamServicesBlock .projectTeam {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .screenScroll .contentCenterScreen {
    --imageWidth: calc(100vw - var(--screenPadding) * 2);
  }
  .screenScroll .contentCenterScreen .imageBlock {
    width: 100%;
  }
  .screenScroll .contentCenterScreen .imageBlock .textBlock .description {
    padding: 0px;
  }
  .screenScroll .galleryScreen .galleryWrapper.soloImage .imageItem {
    width: 265px;
    height: 350px;
  }
  .screenScroll .galleryScreen .imageItem {
    width: 50%;
  }
}/*# sourceMappingURL=styles.module.css.map */