:root {
}

.desktopHud {
	position: fixed;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 2;
	font-family: "Panama Regular";
	font-size: var(--menuFontSize);
	text-transform: uppercase;
	pointer-events: none;
	opacity: 1;
	transition: 0.3s;

	* {
		transition: 0.3s;
	}

	&.inactive {
		opacity: 0;
	}

	&.dark {
		color: var(--mainTextColor);

		a.li,
		.li {
			color: var(--mainTextColor);
		}
	}

	&.light {
		color: var(--backgroundColor);

		a.li,
		.li {
			color: var(--backgroundColor);
		}
	}

	a.li,
	.li {
		display: flex;
		position: relative;
		color: var(--mainTextColor);
		text-decoration: none;
		cursor: pointer;
		pointer-events: all;
		word-break: break-word;
		letter-spacing: var(--letterSpacing);

		&:hover {
			letter-spacing: var(--letterSpacingHover);
		}
	}

	.topHud {
		justify-content: space-between;
		align-self: center;
		position: fixed;
		top: calc(var(--screenPadding) * 2);
		left: 50%;
		transform: translate(-50%, 0);
		width: calc(100% - var(--screenPadding) * 4);
		pointer-events: none;
		z-index: 1;

		.leftPart {
			gap: 55px;
			transform: translate(0px, 7%);
		}

		.centerPart {
			justify-content: space-between;
			align-items: center;
			width: 100%;
			max-width: var(--contentWidth);
			transform: translate(0px, 7%);
		}

		.rightPart {
			justify-content: flex-end;
			gap: 33px;
		}

		.leftPart,
		.rightPart {
			width: calc((100% - var(--contentWidth)) / 2);
		}

		a.logoBlock,
		.logoBlock {
			position: relative;
			display: flex;
			max-width: 180px;
			max-height: 22px;
			cursor: pointer;
			pointer-events: all;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				max-height: var(--logoMaxHeight);
				object-fit: contain;
				object-position: left;

				opacity: 0;
				pointer-events: none;
				transition: 0.3s;

				&.active {
					position: relative;
					opacity: 1;
					pointer-events: auto;
				}
			}
		}

		.languageBlock {
			a.lang,
			.lang {
				position: relative;
				display: flex;
				text-decoration: none;
				color: inherit;
				opacity: 0.3;
				cursor: pointer;
				pointer-events: all;
				letter-spacing: var(--letterSpacing);

				&.active {
					opacity: 1;
					&:hover {
						opacity: 1;
					}
				}

				&:hover {
					opacity: 0.65;
					letter-spacing: var(--letterSpacingHover);
				}
			}

			.separator {
			}
		}

		.navigation {
			gap: 50px;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0%);
		}

		a.phone,
		.phone {
			display: flex;
			position: relative;
			cursor: pointer;
			pointer-events: all;
			text-decoration: none;
			color: inherit;
			letter-spacing: var(--letterSpacing);

			&:hover {
				letter-spacing: var(--letterSpacingHover);
			}
		}

		.contactUsBlock {
			align-items: center;
			gap: 6px;
			cursor: pointer;
			pointer-events: all;

			&:hover {
				.text {
					text-decoration: underline;
				}
				.icon {
					.door {
						transform: scaleX(0.4) scaleY(0.95);
					}
				}
			}

			.text {
				text-decoration: none;
				transform: translate(0px, 7%);
			}

			.icon {
				width: var(--menuFontSize);
				min-width: var(--menuFontSize);
				height: var(--menuFontSize);
				overflow: hidden;

				img {
					opacity: 0;
					pointer-events: none;
					object-fit: contain;
					object-position: center;
					transition: 0.3s;

					&.active {
						opacity: 1;
						pointer-events: auto;
					}

					&.door {
						position: absolute;
						left: 0;
						transition: 0.3s;
						transform-origin: 0% 50%;
						transform: scaleX(0.65) scaleY(0.95);
					}
				}
			}
		}
	}

	.rightHud {
		flex-direction: column;
		gap: 33px;
		position: fixed;
		top: 50%;
		right: calc(var(--screenPadding) * 2);
		transform: translate(0px, -50%);
		max-width: calc(((100% - var(--contentWidth)) / 2) - 15px);
		pointer-events: all;
		opacity: 1;
		z-index: 1;

		&.hidden {
			opacity: 0;
			pointer-events: none;

			a {
				pointer-events: none;
			}
		}
	}

	.bottomHud {
		justify-content: space-between;
		align-self: center;
		align-items: flex-end;
		position: fixed;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: calc(var(--screenPadding) * 2);
		width: calc(100% - (var(--screenPadding) * 4));
		pointer-events: none;
		z-index: 2;

		.leftPart {
			gap: 10px;
			flex-direction: column;
			align-items: flex-start;
			pointer-events: all;
			justify-content: flex-end;
			max-width: calc(((100% - var(--contentWidth)) / 2) - 15px);
		}

		.rightPart {
			justify-content: flex-end;
			align-items: center;
			width: fit-content;
			pointer-events: all;
		}

		.stoneIcon {
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 100px;
			cursor: pointer;

			&.active {
				&:hover {
					img {
						&:nth-child(1) {
							opacity: 0;
						}

						&:nth-child(2) {
							opacity: 1;
						}
					}
				}
				img {
					&:nth-child(1) {
						opacity: 0;
					}

					&:nth-child(2) {
						opacity: 1;
					}
				}

				.linesBlock {
					.line {
						&:nth-child(1) {
							transform: rotate(-90deg) scaleY(0);
						}
						&:nth-child(2) {
							transform: rotate(-45deg);
						}
						&:nth-child(3) {
							transform: rotate(-135deg);
						}
					}
				}
			}

			&:hover {
				img {
					&:nth-child(1) {
						opacity: 0;
					}

					&:nth-child(2) {
						opacity: 1;
					}
				}
			}

			.linesBlock {
				justify-content: center;
				align-items: center;
				position: absolute;
				width: 100%;
				height: 100%;
				transform: translate(3%, -2%);

				.line {
					position: absolute;
					width: 3px;
					height: 25px;
					background-color: white;
					transform: rotate(0deg);
					transition: 0.3s;

					&:nth-child(1) {
						transform: rotate(0deg);
					}
					&:nth-child(2) {
						transform: rotate(45deg);
					}
					&:nth-child(3) {
						transform: rotate(90deg);
					}
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;

				&:nth-child(1) {
					opacity: 1;
				}

				&:nth-child(2) {
					opacity: 0;
				}
			}
		}
	}

	.leftHud {
		flex-direction: column;
		gap: 33px;
		position: fixed;
		top: 50%;
		left: calc(var(--screenPadding) * 2);
		transform: translate(0px, -50%);
		max-width: calc(((100% - var(--contentWidth)) / 2) - 15px);
		pointer-events: all;
		z-index: 1;

		&.hidden {
			opacity: 0;
			pointer-events: none;

			a {
				pointer-events: none;
			}
		}
	}
}

.mobileHud {
	display: none;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	font-family: "Panama Regular";
	left: 0;
	padding: var(--screenPadding);
	width: calc(100% - calc(var(--screenPadding) * 2));
	transition: 0.5s;
	z-index: 4;
	pointer-events: none;

	* {
		transition: 0.5s;
	}

	&.light {
		color: var(--backgroundColor);

		.burger {
			background-color: var(--backgroundColor);

			.line {
				color: var(--mainTextColor);
			}
		}
	}

	&.dark {
		color: var(--mainTextColor);
		.burger {
			background-color: var(--mainTextColor);

			.line {
				color: var(--backgroundColor);
			}
		}
	}

	.logo {
		width: fit-content;
		height: fit-content;
		align-items: center;
		pointer-events: all;

		img {
			position: absolute;
			width: fit-content;
			height: fit-content;
			max-height: var(--logoMaxHeight);

			opacity: 0;
			pointer-events: none;
			transition: 0.3s;

			&.active {
				position: relative;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	.burgerButtonBlock {
		gap: 8px;
		align-items: center;
		pointer-events: all;
		cursor: pointer;

		&.active {
			.burger {
				.line {
					&:nth-child(1) {
						transform: rotate(45deg + 90deg);
					}
					&:nth-child(2) {
						transform: rotate(225deg);
					}
					&:nth-child(3) {
						transform: rotate(0deg) scale(0);
					}
				}
			}

			.textBlock {
				.text {
					&.open {
						right: 0;
						transform: translate(calc(100% + 2px), 7%);
						opacity: 0;
					}

					&.close {
						transform: translate(calc(0% + 0px), 7%);
						opacity: 1;
					}
				}
			}
		}

		.textBlock {
			overflow: hidden;
			.text {
				&.open {
					position: absolute;
					right: 0;
					transform: translate(calc(0% + 0px), 7%);
					opacity: 1;
				}

				&.close {
					transform: translate(calc(-100% - 2px), 7%);
					opacity: 0;
				}
			}
			font-size: var(--menuFontSize);
			text-transform: uppercase;
		}

		.burger {
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			background-color: var(--mainTextColor);
			border-radius: 50%;

			.line {
				position: absolute;
				background-color: var(--backgroundColor);
				width: 2px;
				height: 16px;

				&:nth-child(1) {
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					transform: rotate(90deg);
				}
				&:nth-child(3) {
					transform: rotate(0deg);
				}
			}
		}
	}
}

.mobileMenu {
	display: none;
	flex-direction: column;
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	font-family: "Panama Regular";
	background-color: var(--backgroundColor);
	// transform: translateY(-100%);
	opacity: 0;
	pointer-events: none;
	transition: 1s;

	* {
		transition: 1s;
	}

	&.active {
		// transform: translateY(0);
		opacity: 1;
		pointer-events: auto;
	}

	.menuContent {
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;

		.languageBlock {
			gap: 3px;
			a.lang,
			.lang {
				&.active {
					font-weight: 700;
				}

				font-size: var(--menuFontSize);
				text-transform: uppercase;
				text-decoration: none;
				color: var(--mainTextColor);
			}
		}

		.navigationBlock {
			flex-direction: column;
			align-items: center;
			gap: 25px;

			.li,
			a.li {
				font-size: 24px;
				color: var(--mainTextColor);
				text-decoration: none;
				text-transform: uppercase;
			}
		}

		.phoneBlock {
			a.phone,
			.phone {
				font-size: var(--menuFontSize);
				text-transform: uppercase;
				text-decoration: none;
				color: var(--mainTextColor);
			}
		}

		.contactUsBlock {
			align-items: center;
			gap: 6px;
			cursor: pointer;
			pointer-events: all;

			.icon {
				width: var(--menuFontSize);
				min-width: var(--menuFontSize);
				height: var(--menuFontSize);
				overflow: hidden;

				img {
					opacity: 0;
					pointer-events: none;
					object-fit: contain;
					object-position: center;
					transition: 0.3s;

					&.active {
						opacity: 1;
						pointer-events: auto;
					}
				}
			}
		}
	}

	.bottom {
		position: absolute;
	}
}

.popupHud {
	justify-content: center;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 43%;
	height: 100%;
	max-height: 0%;
	overflow: hidden;
	background-color: rgba(125, 46, 49, 1);
	pointer-events: auto;
	z-index: 1;
	transition: 0.5s;

	&.active {
		max-height: 100%;

		.popupContent {
			opacity: 1;
			transition: 0.5s 0.25s;
		}
	}

	.popupContent {
		flex-direction: column;
		padding: calc(var(--screenPadding) * 3 + var(--menuFontSize)) calc(var(--screenPadding) * 2) calc(var(--screenPadding) * 2) calc(var(--screenPadding) * 2);
		max-width: calc(500px);
		width: 100%;
		opacity: 0;
		transition: 0.5s 0s;

		.popupItem {
			width: 100%;
			height: calc(100% - 15px - 30px);
			flex-direction: column;
			justify-content: flex-end;
			position: relative;
			display: none;
			opacity: 0;
			pointer-events: none;
			transition: 0.3s;

			&.active {
				display: flex;
				opacity: 1;
				pointer-events: auto;
			}
		}

		.title {
			font-family: "Panama Regular";
			text-transform: uppercase;
			font-size: var(--bigTextSize);
			line-height: 1.1;
			color: var(--backgroundColor);
			text-align: center;
		}

		.image {
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 12vw;

			img {
				width: 100%;
				height: 125%;
				object-fit: contain;
			}
		}

		form {
			display: flex;
			flex-direction: column;
			border-left: 1px solid rgba(255, 255, 255, 0.2);
			border-right: 1px solid rgba(255, 255, 255, 0.2);
			padding: 20px 0px 0px 0px;
			width: 100%;

			.formInput {
				width: 100%;
				input {
					font-family: Inter;
					font-size: var(--miniTextSize);
					color: var(--backgroundColor);
					width: 100%;
					padding: 10px 20px;
					height: 40px;
					border: none;
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
					background-color: transparent;
					opacity: 1;

					&::placeholder {
						color: var(--backgroundColor);
						opacity: 1;
					}

					&:focus {
						outline: none;
						border-bottom: 1px solid rgba(255, 255, 255, 1);
					}
				}
			}
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40px;
				text-align: center;
				background-color: transparent;
				outline: none;
				border: none;
				color: var(--backgroundColor);
				gap: 5px;
				cursor: pointer;
				pointer-events: all;
				text-transform: uppercase;
				font-size: var(--additionalTextSize);
				font-family: "Panama Regular";
				letter-spacing: var(--letterSpacing);
				padding: 20px 0px 0px 0px;

				&:hover {
					letter-spacing: var(--letterSpacingHover);
				}

				.icon {
					width: 20px;
					height: 20px;
					background-image: url("/images/arrow_right_white.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}

				.text {
					transform: translate(0px, 7%);
				}
			}
		}

		.navigation {
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 30px 0px 0px 0px;
			gap: 15px;
			.arrow {
				opacity: 1;
				pointer-events: all;
				cursor: pointer;
				&.prev {
					width: 15px;
					height: 15px;
					background-image: url("/images/arrow_right_popup.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					transform: rotate(180deg);
				}
				&.next {
					width: 15px;
					height: 15px;
					background-image: url("/images/arrow_right_popup.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
				&.disabled {
					opacity: 0.5;
					pointer-events: none;
				}
			}

			.dots {
				justify-content: center;
				width: fit-content;
				gap: 30px;
				.dot {
					align-items: center;
					width: 12px;
					height: 12px;
					background-color: #bc9492;
					border-radius: 50%;
					cursor: pointer;

					&.active {
						background-color: var(--backgroundColor);
					}

					&:last-child {
						&:after {
							display: none;
						}
					}

					&:after {
						content: "";
						position: absolute;
						left: 100%;
						transform: translate(6px, 0px);
						display: flex;
						width: 12px;
						min-width: 12px;
						height: 1px;
						background-color: var(--backgroundColor);
						opacity: 0.5;
						margin: 0px 2px;
					}
				}
			}
		}
	}
}

.stoneIcon {
	position: fixed;
	right: var(--screenPadding);
	bottom: var(--screenPadding);
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	cursor: pointer;
	z-index: 2;

	&.active {
		&:hover {
			img {
				&:nth-child(1) {
					opacity: 0;
				}

				&:nth-child(2) {
					opacity: 1;
				}
			}
		}
		img {
			&:nth-child(1) {
				opacity: 0;
			}

			&:nth-child(2) {
				opacity: 1;
			}
		}

		.linesBlock {
			.line {
				&:nth-child(1) {
					transform: rotate(-90deg) scaleY(0);
				}
				&:nth-child(2) {
					transform: rotate(-45deg);
				}
				&:nth-child(3) {
					transform: rotate(-135deg);
				}
			}
		}
	}

	&:hover {
		img {
			&:nth-child(1) {
				opacity: 0;
			}

			&:nth-child(2) {
				opacity: 1;
			}
		}
	}

	.linesBlock {
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		transform: translate(3%, -2%);

		.line {
			position: absolute;
			width: 3px;
			height: 25px;
			background-color: white;
			transform: rotate(0deg);
			transition: 0.3s;

			&:nth-child(1) {
				transform: rotate(0deg);
			}
			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(90deg);
			}
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;

		&:nth-child(1) {
			opacity: 1;
		}

		&:nth-child(2) {
			opacity: 0;
		}
	}
}

@media (max-width: 1750px) {
}

@media (max-width: 1680px) {
	.desktopHud {
		// font-size: 18px;

		.topHud {
			top: var(--screenPadding);
			width: calc(100% - (var(--screenPadding) * 2));
			.logoBlock {
				width: 150px;
			}
		}

		.leftHud {
			left: var(--screenPadding);
		}
		.rightHud {
			right: var(--screenPadding);
		}
		.bottomHud {
			bottom: var(--screenPadding);
			width: calc(100% - (var(--screenPadding) * 2));
		}
	}

	.popupHud {
		.popupContent {
			padding: calc(var(--screenPadding) * 2 + var(--menuFontSize)) calc(var(--screenPadding) * 1) calc(var(--screenPadding) * 1) calc(var(--screenPadding) * 1);
		}
	}
}

@media (max-width: 1440px) {
	.desktopHud {
		font-size: calc(var(--menuFontSize) * 0.85);
	}
}

@media (max-width: 1280px) {
	.desktopHud {
		--centerPartWidth: calc(var(--contentWidth) * 0.775);
		font-size: calc(var(--menuFontSize) * 1);
		.topHud {
			.logoBlock {
				max-width: 120px;
			}
			.navigation {
				gap: var(--screenPadding);
			}
			.rightPart,
			.leftPart {
				width: calc((100% - var(--centerPartWidth)) * 0.5);
			}
			.centerPart {
				max-width: var(--centerPartWidth);
			}
		}

		.bottomHud {
			.leftPart {
				max-width: calc((100% - var(--contentWidth)) / 2 - 15px);
			}
		}

		.leftHud,
		.rightHud {
			max-width: calc((100% - var(--contentWidth)) / 2 - 15px);
		}
	}
}

@media (max-width: 980px) {
	.desktopHud {
		display: none;

		.topHud,
		.leftHud,
		.bottomHud,
		.rightHud {
			display: none;
		}
	}

	.mobileHud,
	.mobileMenu {
		display: flex;
	}

	.popupHud {
		width: 100%;
	}
}

@media (max-height: 500px) {
	.popupHud {
		.popupContent {
			.popupItem {
				.image {
					display: none;
				}
			}
		}
	}
}
