.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	// background-color: var(--backgroundColor);
	color: white;
	justify-content: center;
	align-items: center;
	pointer-events: auto;
	z-index: 10;
	transition: 0.5s;
	--preloaderLineWidth: 32px;
	--preloaderLineHeight: 230px;
	--hubarchLogoLineWidth: 30px;
	--hubarchLogoLineHeight: calc(var(--hubarchLogoLineWidth) * 7.7);
	--hubarchLogoWidth: 300px;
	--hubarchLogoOffset: calc(var(--hubarchLogoLineHeight) * 0.45);

	&.hidden {
		opacity: 1;
		pointer-events: none;
		z-index: 1;
		transition: 0.3s 0.5s;

		--hubarchLogoWidth: 2px;
		--hubarchLogoLineWidth: 3px;
		&.loadingProject {
			.image {
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				opacity: 0;

				img {
					width: 100%;
					height: 100%;
				}
			}
			.overlay {
				opacity: 1;
				transition: 0.25s 0s;
			}
			.background {
				opacity: 0;
				transform: translateX(-100%);
				transition: 0s 0.3s;
			}
			.progressBar {
				.progressLine {
					width: 0%;
					transition: 0.3s 0s;
				}
				.progress {
					transform: translate(-100px, 0px);
					opacity: 0;
					transition: 0.3s 0.1s;
				}
			}
		}

		.imagesBlock {
			opacity: 0;
			width: 0px;
			height: 0px;
			transition: 0.5s 0s;
		}

		.background {
			transform: translateX(-100%);
			transition: 0.5s 0.3s;
		}
		.progressBar {
			.progressLine {
				width: 0%;
				transition: 0.25s 0.35s;
			}
			.progress {
				transform: translate(-100px, 0px);
				opacity: 0;
				transition: 0.25s 0.25s;
			}
		}
		.hubarchLogo {
			transform: translate(calc(-50%), -50%);
			transition: all 0.35s 0s;

			.leftLine {
				left: 50%;
				transform: translate(-50%, -50%);
				background: #e0dedc;
				transition: all 0.35s 0s, left 0.35s 0s, transform 0.35s 0s;
			}

			.leftMiniLine {
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				background: #e0dedc;
				transition: all 0.35s 0s, left 0.35s 0s, transform 0.35s 0s;
			}

			.rightLine {
				right: 50%;
				transform: translate(50%, -50%);
				width: 0px;
				height: 0px;
				background: #e0dedc;
				transition: all 0.35s 0s, right 0.35s 0s, transform 0.35s 0s;
			}

			.centerLine {
				width: var(--hubarchLogoLineHeight);
				background: #e0dedc;
				transition: all 0.35s 0s, left 0.35s 0s, transform 0.35s 0s;
			}
		}
	}

	&.loading {
		--hubarchLogoWidth: 300px;
		&.loadingProject {
			opacity: 1;
			z-index: 10;
			transition: 0s 0s;

			&.disabled {
				--hubarchLogoWidth: 2px;
				--hubarchLogoLineWidth: 3px;

				&.type1,
				&.type2,
				&.type3,
				&.type4 {
					.imagesBlock {
						width: 0px;
						height: 0px;
						opacity: 0;
					}
				}

				.hubarchLogo {
					transform: translate(calc(-50%), -50%);
					transition: all 0.15s 0s;

					.leftLine {
						left: 50%;
						transform: translate(-50%, -50%);
						background: #e0dedc;
						transition: all 0.35s 0s, left 0.15s 0s, transform 0.15s 0s;
					}

					.leftMiniLine {
						left: 50%;
						transform: translate(-50%, -50%) rotate(45deg);
						background: #e0dedc;
						transition: all 0.35s 0s, left 0.15s 0s, transform 0.15s 0s;
					}

					.rightLine {
						right: 50%;
						transform: translate(50%, -50%);
						width: 0px;
						height: 0px;
						background: #e0dedc;
						transition: all 0.35s 0s, right 0.15s 0s, transform 0.15s 0s;
					}

					.centerLine {
						left: 50%;
						transform: translate(-50%, -50%);
						width: var(--hubarchLogoLineHeight);
						background: #e0dedc;
						transition: all 0.35s 0s, left 0.15s 0s, transform 0.15s 0s;
					}
				}
			}
			.image {
				width: 100%;
				height: 100%;
				opacity: 1;
				transition: 0s;

				img {
					width: 105%;
					height: 105%;
					transition: 0s 0s;
				}
			}
			.overlay {
				opacity: 0;
				// transition: 0.25s 0.5s;
			}
			.background {
				will-change: transform;
				transform: translateX(0%);
				transition: 0.3s 0s;
			}
			.progressBar {
				.progressLine {
					width: 100%;
					transition: 0.3s 1s;
				}
				.progress {
					transform: translate(0px, 0px);
					opacity: 1;
					transition: 0.3s 1s;
				}
			}
		}
		&.type1 {
			.imagesBlock {
				height: calc(var(--hubarchLogoLineHeight) * 1.25);
				opacity: 0;
				transition: 1s 0s;
			}
		}

		&.type2 {
			--hubarchLogoWidth: calc(var(--contentWidth) * 0.75);

			.imagesBlock {
				height: calc(var(--hubarchLogoLineHeight) * 1.4);
				opacity: 1;
				transition: 1s 0s;

				.image {
					&:nth-child(2) {
						opacity: 1;
					}
				}
			}
		}

		&.type3 {
			--hubarchLogoWidth: calc(var(--contentWidth) * 0.5);
			.imagesBlock {
				height: calc(var(--hubarchLogoWidth) * 0.85);
				opacity: 1;
				transition: 1s 0s;

				.image {
					&:nth-child(3) {
						opacity: 1;
					}
				}
			}
		}

		&.type4 {
			--hubarchLogoWidth: var(--contentWidth);

			.imagesBlock {
				height: 100%;
				opacity: 1;
				transition: 1s 0s;

				.image {
					left: 100%;
					top: 0%;
					transform: translate(calc(-100%), calc(0));
					height: calc(100% - 50px - 20px);
					width: calc(var(--contentWidth) * 0.4);

					&:nth-child(4) {
						width: calc(var(--contentWidth) * 0.15);
						height: calc(var(--contentWidth) * 0.15);
						top: 50%;
						transform: translate(0%, calc(var(--hubarchLogoLineWidth) * 0.5));
						left: 0;
						opacity: 1;
					}

					&:nth-child(5) {
						top: 0%;
						left: 100%;
						transform: translate(calc(-100%), calc(0));
						width: calc(var(--contentWidth) * 0.4);
						height: calc(100% - 50px - 20px);
						opacity: 1;
					}
				}
			}
		}

		.progressBar {
			.progressLine {
				width: 100%;
			}
			.progress {
				transform: translate(0px, 0px);
				opacity: 1;
			}
			.background {
				transform: translate(0%, 0px);
			}
		}

		.hubarchLogo {
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 1;
			transition: 1s;

			* {
				transition: 1s;
			}

			.leftLine {
				left: 0;
				transform: translate(calc(0% + var(--hubarchLogoOffset) * 0.5), -50%);
			}

			.leftMiniLine {
				left: 0;
				transform: translate(calc(0% + var(--hubarchLogoOffset) * 0.5), -50%) rotate(45deg);
			}

			.rightLine {
				right: 0;
				transform: translate(calc(0% - var(--hubarchLogoOffset) * 0.5), -50%);
				// transform: translate(calc(0%), -50%);
			}

			.centerLine {
				left: 50%;
				transform: translate(calc(-50% - var(--hubarchLogoOffset) * 0.5), -50%);
				// transform: translate(calc(-50%), -50%);
			}
		}

		.imagesBlock {
			width: calc(var(--hubarchLogoWidth) - var(--hubarchLogoLineWidth) * 2 - var(--hubarchLogoOffset));

			.image {
				transition: 1s;
			}
		}
	}

	.background {
		position: fixed;
		top: 0;
		left: 0;
		width: 200%;
		height: 100%;
		background: linear-gradient(to right, var(--backgroundColor), var(--backgroundColor) 50%, transparent 100%);
		// background: linear-gradient(to right, red, red 50%, transparent 100%);
		transform: translateX(0%);
		will-change: transform;
		transition: 0.5s;
	}

	.imagesBlock {
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(calc(-50% - 0px), -50%);
		width: 0px;
		height: 0px;
		transition: 0.5s;
		opacity: 0;
		z-index: 1;

		.image {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(calc(-50% - 0px), -50%);
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: 0.5s;

			img {
				opacity: 1;
			}
		}
	}

	.progressBar {
		position: absolute;
		bottom: 50px;
		left: 0px;
		width: calc(100% - 0px);
		height: fit-content;
		z-index: 2;
		transition: 0.25s;
		.progressLine {
			justify-content: flex-start;
			align-items: center;
			position: relative;
			width: 0%;
			height: 1px;
			background: var(--mainTextColor);
			transition: 0.25s 0.15s;

			.currentLine {
				position: absolute;
				width: 35%;
				height: 3px;
				background: var(--mainTextColor);
				transition: 0.1s;
			}
		}
		.progress {
			right: 0;
			top: 10px;
			position: absolute;
			color: var(--mainTextColor);
			transform: translate(-100px, 0px);
			transition: 0.25s 0.3s;
			opacity: 0;
		}
	}

	.hubarchLogo {
		position: absolute;
		top: 50%;
		left: 50%;
		width: var(--hubarchLogoWidth);
		transform: translate(calc(-50% - var(--hubarchLogoOffset) * 0.5 - 200px), -50%);
		opacity: 0;
		transition: 0.5s;
		z-index: 1;

		* {
			transition: 0.5s;
		}
		.leftMiniLine {
			position: absolute;
			left: var(--hubarchLogoOffset);
			top: 50%;
			transform: translate(0%, -50%) rotate(45deg);
			width: var(--hubarchLogoLineWidth);
			height: calc(var(--hubarchLogoLineHeight) * 0.8);
			background: var(--mainTextColor);
		}
		.leftLine {
			position: absolute;
			left: var(--hubarchLogoOffset);
			top: 50%;
			transform: translate(0, -50%);
			width: var(--hubarchLogoLineWidth);
			height: var(--hubarchLogoLineHeight);
			background: var(--mainTextColor);
		}

		.centerLine {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			height: var(--hubarchLogoLineWidth);
			width: var(--hubarchLogoWidth);
			background: var(--mainTextColor);
		}

		.rightLine {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0%, -50%);
			width: var(--hubarchLogoLineWidth);
			height: var(--hubarchLogoLineHeight);
			background: var(--mainTextColor);
		}
	}

	.image {
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(0, 0);
		width: 0px;
		height: 0px;
		opacity: 0;
		transition: 0.5s;
		z-index: 1;
		overflow: hidden;

		img {
			opacity: 0;

			&.active {
				opacity: 1;
			}
		}
	}
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		opacity: 0;
		transition: 0.5s;
	}
}
