# BEGIN WordPress
RewriteEngine On
RewriteBase /wp/
RewriteRule ^index\.php$ - [L]

# Разрешить REST API
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^wp-json/(.*)$ /wp/index.php?rest_route=/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wp/index.php [L]
# END WordPress
