.simpleScroll {
	.applicationScreen {
		margin-top: 150px;
		&.active {
			.titleBackgroundBlock {
				opacity: 1;
				transform: translate(0, 0);
				.titleBackground {
					opacity: 0.15;
					transform: translate(0, -50%);
				}
			}
		}
		.titleBackgroundBlock {
			opacity: 1;
			transform: translate(0, 0);
			.titleBackground {
				opacity: 1;
				transform: translate(0, -70%);
			}
		}
	}
}

.applicationScreen {
	&.active {
		opacity: 1;
		top: 0dvh;
		transition: 0.5s 0.25s;

		.titleBackgroundBlock {
			opacity: 1;
			transform: translate(-0, -75dvh);
			transition: 0.5s 0s;

			&.transparent {
				opacity: 0;
				transition: all 0.5s 0s, opacity 0.5s 0.5s;
			}

			.titleBackground {
				transform: translate(0, calc(75dvh - 40%));
				transition: 0.5s 0.25s;
				opacity: 0.15;
			}
		}

		.form {
			opacity: 1;
			transition: 0.5s 0.625s;
		}

		.image {
			opacity: 1;
			transition: 0.5s 0.625s;
		}
	}
}

@media (max-width: 1750px) {
}

@media (max-width: 1680px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 980px) {
	.applicationScreen {
		&.active {
			top: auto;
			opacity: 1;

			.titleBackgroundBlock {
				&.transparent {
					opacity: 1;
				}
				position: relative;
				top: 0;
				transform: translate(0, calc(-0%));
				transition: 1s;

				.titleBackground {
					transform: translate(0, 0%);
					opacity: 1;
					transition: 1s;
				}
			}

			.form {
				opacity: 1;
				transition: 1s;
			}
		}
		.image {
			opacity: 1;
		}
	}

	.simpleScroll {
		.applicationScreen {
			.titleBackgroundBlock {
				.titleBackground {
					transform: translate(0, -20%);
				}
			}
			&.active {
				.titleBackgroundBlock {
					.titleBackground {
						transform: translate(0, 0%);
					}
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.applicationScreen {
		.form {
			max-width: unset;
		}
	}
}
