@font-face {
	font-family: "Panama_Demo_Regular";
	src: url("/fonts/Panama_Demo_Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Variable.ttf") format("truetype");
	/* font-weight: normal; */
	font-style: normal;
}
